
<div class="container sans-head mb-2">
	<div class="text-center text-muted mt-4 mb-4 ">
		<h3 class="table"> Projets validés </h3>
	</div>
	<div class="row justify-content-center">
		<%if @projets.count == 0 %>
			<div class="text-center text-muted mt-1 mb-4">
				<p> Aucun projet validé </p>
			</div>
		<%else%>	
			<% @projets_valides.each do |p|%>
				<div class="col-md-3 mb-2 card mx-1 position-relative">
					<div class="card-body">
				 	 	<div class="card-title table">
					    	<h6><%= p.nom_du_projet %></h6>
					    </div>
						<div class="card-text">
							<p class="card-text text-muted mb-5 truncate-pub"><%= raw p.objectif_generale_du_projet.truncate(100) %></p>
						</div>
					    <p class="mt-3 position-absolute more-info-pub"><a href="<%= super_admin_projet_path(p.id)%>" class="btn-forgot underline">Voir</a></p>
					</div>
				</div>
			<%end%>
		<%end%>	
	</div>
	<div class="text-center">
		<%= paginate @projets_valides %>
	</div>
</div>

<div class="container mt-4 mb-5">
	<div class="text-center text-muted mt-4 mb-4">
		<h3 class="table"> Liste des  nouveaux projets à valider</h3>
	</div>
</div>
<%if @projets.count == 0 %>
	<div class="container mb-5">
		<div class="text-center text-muted mt-1 mb-4">
			<p> Rien à valider </p>
		</div>
	</div>
<%else%>
	<div class="container mb-5">
		<div class="row justify-content-center">
			<% @projets.each do |p|%>
				<div class="col-md-3 mb-2 card mx-1 position-relative">
					<div class="card-body">
				 	 	<div class="card-title table">
					    	<h6><%= p.nom_du_projet %></h6>
					    </div>
						<div class="card-text">
							<p class="card-text text-muted mb-5 truncate-pub"><%= raw p.objectif_generale_du_projet.truncate(100) %></p>
						</div>
					    <p class="mt-3 position-absolute more-info-pub"><a href="<%= super_admin_projet_path(p.id)%>" class="btn-forgot underline">Voir</a></p>
					</div>
				</div>
			<%end%>	
		</div>
		<div class="text-center">
			<%= paginate @projets %>
		</div>
	</div>
<%end%>


<div class="container mt-4 mb-5">
	<div class="text-center text-muted mt-4 mb-4">
		<h3 class="table"> Liste des projets modifiés à revalider</h3>
	</div>
</div>
<%if @projets.count == 0 %>
	<div class="container mb-5">
		<div class="text-center text-muted mt-1 mb-4">
			<p> Rien à valider </p>
		</div>
	</div>
<%else%>
	<div class="container mb-5">
		<div class="row justify-content-center">
			<% @projets_revalid.each do |p|%>
				<div class="col-md-3 mb-2 card mx-1 position-relative">
					<div class="card-body">
				 	 	<div class="card-title table">
					    	<h6><%= p.nom_du_projet %></h6>
					    </div>
						<div class="card-text">
							<p class="card-text text-muted mb-5 truncate-pub"><%= raw p.objectif_generale_du_projet.truncate(100) %></p>
						</div>
					    <p class="mt-3 position-absolute more-info-pub"><a href="<%= super_admin_projet_path(p.id)%>" class="btn-forgot underline">Voir</a></p>
					</div>
				</div>
			<%end%>	
		</div>
		<div class="text-center">
			<%= paginate @projets %>
		</div>
	</div>
<%end%>