  <header class="aci59a-0 eyAIuG haute sticky-limit">
    <div class="sc-1gnwgfb-2 stom">
    </div>
       <!-- <div class="head-te"><marquee behavior="" direction="">La communauté internationale réaffirme son soutien aux pays les plus pauvres</marquee></div> -->
  </header>

<div class="mx-auto sign-up p-4">
  <h2 class="text-center">Inscrivez-vous</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class:'form') do |f| %>
    <ol style="list-style: none;">
      <li><%= render "devise/shared/error_messages", resource: resource %></li>
    </ol>
    <div class="field mb-2 row">
      <div class="col-md-6">
        <%= f.label :first_name, "Nom" %>
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class:'form-control', placeholder: 'Nom'%>
      </div>
      <div class="col-md-6">
        <%= f.label :last_name, "Prénoms" %>
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class:'form-control', placeholder: 'Prénom' %>
      </div>
    </div>

    <div class="field mb-2 row">
      <div class="col-md-6">
        <%= f.label :phone, "Téléphone" %>
        <%= f.text_field :phone, autofocus: true, autocomplete: "phone", class:'form-control', placeholder: 'Téléphone'%>
      </div>
      <div class="col-md-6">
        <%= f.label :Organisme, "Organisme"%>

        <%@organism = []%>
        <% Ptf.all.each do |p|%>

          <%@organism << p%>

        <%end%>
        <% Iga.all.each do |i|%>

          <%@organism << i%>

        <%end%>

        <select class="form-control" name="organisme">
          <% @organism.each do |o|%>
            <option value="<%= o.title%>"><%= o.title%></option>
          <%end%>
        </select>
      </div>
    </div>


    <div class="field mb-2">
      <%= f.label :email, "Email" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control', placeholder:'Adresse email' %>
    </div>

    <div class="field mb-2">
      <%= f.label :password, "Mot de passe" %>
      <%= f.password_field :password, autocomplete: "new-password", class:'form-control', placeholder: '6 caractères minimum' %>
    </div>

    <div class="field mb-2">
      <%= f.label :password_confirmation, "Entrez le mot de passe à nouveau" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form-control', placeholder: 'Confirmer' %>
    </div>

    <div class="actions mb-2">
      <%= f.submit "S'inscrire", class:'sc-eerKOB cfnPHQ mt-3' %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
