

<div class="container sans-head">
	<h3 style="text-align: center";>Liste des documents associés :</h3>
		<div>
		   <h3><%=@pub.title%></h3>
		   <p style="font-size: 22px;"><%=@pub.description%></p>
	   </div><br>
	
	
	<%if @pub.files.attached?%>
		<%@pub.files.all.each do|file|%> 
			<p><%= link_to file.filename, rails_blob_path(file, disposition: "attachement"), class: "attr" %></p>
		<%end%>
	<%end%>
 <div class="text-right">
      <a href="<%=  edit_super_admin_publication_path(@pub.id)%>" class="sc-eerKOB cfnPHQ bold sear" >Modifier</a>
      <a href="<%= super_admin_publication_path(@pub.id)%>" class="btn btn-danger"  data-method="delete" data-confirm="Voulez-vous supprimer ce actualités?"> supprimer</a>
    </div>
</div>