                <%@project.each do|projet|%>
                  <div class="result pt-3 pb-3 pl-2 pr-2 border-bottom">
                    <a href="<%= projet_path(projet.id) %>" target="blank" class="text-muted"><%=projet.nom_du_projet%></a>
                  </div>
                <%end%>

<%if @results %>
  <%@results.each do | result|%><br>
    <%= link_to "#{result.nom_du_projet}" , projets_path  %>
  <%end%>
<%end%>

               <%if @res%>
                 <h3>Search Result zone</h3>  
                      <% @res.each do |res| %>  
                      <%= link_to "#{res.projet.nom_du_projet}", projets_path %><br> 
              <%end%>
              <%end%>

 <%if @search%>
   <h3>Search Result </h3>  
        <% @search.each do |res| %>  
        <%= link_to "#{res.projet.nom_du_projet}",  projets_path%><br> 
          
<%end%>
<%end%>

             <%if @filiere%>
               <h3>filiere Result Iga</h3>  
                    <% @filiere.each do |res| %>  
                   <%= link_to "#{res.projet.nom_du_projet}", projets_path %><br> 
                      
            <%end%>
            <%end%>
             
             <%if @secteur%>
               <h3>Search Result secteur</h3>  
                    <% @secteur.each do |res| %>  
                   <%= link_to "#{res.projet.nom_du_projet}", projets_path%><br> 
                      
            <%end%>
            <%end%>

             <%if @montant%>
                   <h3>Search Result montant</h3>  
                        <% @montant.each do |res| %>  
                       <%= link_to "#{res.nom_du_projet}", projets_path%><br>        
                <%end%>
            <%end%>

             <%if @ptf%>
                   <h3>Search Result montant</h3>  
                        <% @ptf.each do |res| %>  
                       <%= link_to "#{res.nom_du_projet}", projets_path%><br>        
                <%end%>
            <%end%>

            <%if @ptf%>
                   <h3>Search Result appui</h3>  
                        <% @appui.each do |res| %>  
                       <%= link_to "#{res.nom_du_projet}", projets_path%><br>        
                <%end%>
            <%end%>



            <%if @ben%>
                   <h3>Search Result appui</h3>  
                        <% @ben.each do |res| %>  
                       <%= link_to "#{res.projet.nom_du_projet}", projets_path%><br>        
                <%end%>
            <%end%>
              

             <%if @fin%>
                   <h3>Search Result appui</h3>  
                        <% @fin.each do |res| %>  
                       <%= link_to "#{res.nom_du_projet}", projets_path%><br>        
                <%end%>
            <%end%>
