<<<<<<< HEAD

<div class="sc-11unfkk-2 fxFQyp">
  <header class="">
    <div class="qjc24y-1 hlIrlm row no-gutters align-items-start">
      <div class="qjc24y-0 jMLWRH col-md-7">
          <div class="height border-bottom mb-2">
            <h1 class="vx2fp9-3 ehdisu h-font text-left">Resultats de la recherche</h1>
          </div>
          <div class="row no-gutters">
            <div class="col-sm-5">
              <div class="filter pt-2 pb-2">
                <p class="text-muted mb-1"><span>PTF :</span> 
              <%if @results %>
                <%@results.each do | result|%><br>
                  <%= link_to "#{result.ptf.title}" , projets_path  %>
                <%end%>
              <%end%>
               <%if @res%>
                      <% @res.each do |res| %>  
                      <%= link_to "#{res.projet.ptf.title}", projets_path %><br> 
                  <%end%>
                <%end%>
              <%if @search%>
                  <% @search.each do |res| %>  
                  <%= link_to "#{res.projet.ptf.title}",  projets_path%><br> 
                  <%end%>
                <%@project.each do|projet|%>
                  <div class="result pt-3 pb-3 pl-2 pr-2 border-bottom">
                    <a href="<%= projet_path(projet.id) %>" target="blank" class="text-muted"><%=projet.nom_du_projet%></a>
                  </div>
                <%end%>


             <%if @filiere%>
                  <% @filiere.each do |res| %>  
                  <%= link_to "#{res.projet.ptf.title}", projets_path %><br>         
               <%end%>
            <%end%>
        
                     <%if @secteur%>
                  <% @secteur.each do |res| %>  
                  <%= link_to "#{res.projet.ptf.title}", projets_path%><br>          
              <%end%>
            <%end%>
             <%if @montant%>
                    <% @montant.each do |res| %>  
                    <%= link_to "#{res.ptf.title}", projets_path%><br>        
                <%end%>
            <%end%>
            <%if @ben%>
                   <% @ben.each do |res| %>  
                   <%= link_to "#{res.projet.ptf_id}", projets_path%><br>        
                <%end%>
            <%end%>
             <%if @fin%> 
                     <% @fin.each do |res| %>  
                     <%= link_to "#{res.ptf_id}", projets_path%><br>        
                <%end%>
            <%end%>
               <%if @ptf%>    
                    <% @ptf.each do |res| %>  
                    <%= link_to "#{res.projet.ptf_id}", projets_path%><br>        
                <%end%>
            <%end%>
            </p>                
                <p class="text-muted mb-1"><span>Secteur :</span> 
               </p>
                <p class="text-muted mb-1"><span>Zone :</span>   
           </p class="text-muted">
                <p class="text-muted mb-1"><span>Montant :</span> 
            </p class="text-muted">
              </div>
            </div>
            <div class="col-sm-7 pl-2">
                <%@project.each do|projet|%>
                  <div class="result pt-3 pb-3 pl-2 pr-2 border-bottom">
                    <a href="<%= projet_path(projet.id) %>" target="blank" class="text-muted"><%=projet.nom_du_projet%></a>
                  </div>
                <%end%>
                <div class="text-muted mt-2">
                  <%= paginate @project %>
                </div>
            </div>
          </div>
      </div>
      <div class="qjc24y-0 jMLWRH col-md-5">
        <div class="vx2fp9-1 coQzZm">
          <section>
            <div class="map" id="map">
                  <div class="map__img">
                    <a href="" class="region r-1"><div><div>Analamanga</div><div><div class="rond mx-auto text-center">521</div></div></div></a>
                    <a href="" class="region r-2"><div><div>Bongolava</div><div><div class="rond mx-auto text-center">51</div></div></div></a>
                    <a href="" class="region r-3"><div><div>Itasy</div><div><div class="rond mx-auto text-center">51</div></div></div></a>
                    <a href="" class="region r-4"><div><div>Vakinakaratra</div><div><div class="rond mx-auto text-center">51</div></div></div></a>
                    <a href="" class="region r-5"><div><div>Amoron'i Mania</div><div><div class="rond mx-auto text-center">51</div></div></div></a>
                    <a href="" class="region r-6"><div><div>Atsimo Atsinanana</div><div><div class="rond mx-auto text-center">521</div></div></div></a>
                    <a href="" class="region r-7"><div><div>Haute Matsiatra</div><div><div class="rond mx-auto text-center">51</div></div></div></a>
                    <a href="" class="region r-8"><div><div>Vatovavy-Fitovinany</div><div><div class="rond mx-auto text-center">51</div></div></div></a>
                    <a href="" class="region r-9"><div><div>Ihorombe</div><div><div class="rond mx-auto text-center">51</div></div></div></a>
                    <a href="" class="region r-10"><div><div>Alaotra Mangoro</div><div><div class="rond mx-auto text-center">51</div></div></div></a>
                    <a href="" class="region r-11"><div><div>Analanjirofo</div><div><div class="rond mx-auto text-center">521</div></div></div></a>
                    <a href="" class="region r-12"><div><div>Atsinanana</div><div><div class="rond mx-auto text-center">51</div></div></div></a>
                    <a href="" class="region r-13"><div><div>Betsiboka</div><div><div class="rond mx-auto text-center">51</div></div></div></a>
                    <a href="" class="region r-14"><div><div>Boeny</div><div><div class="rond mx-auto text-center">51</div></div></div></a>
                    <a href="" class="region r-15"><div><div>Melaky</div><div><div class="rond mx-auto text-center">51</div></div></div></a>
                    <a href="" class="region r-16"><div><div>Sofia</div><div><div class="rond mx-auto text-center">521</div></div></div></a>
                    <a href="" class="region r-17"><div><div>Androy</div><div><div class="rond mx-auto text-center">51</div></div></div></a>
                    <a href="" class="region r-18"><div><div>Anosy</div><div><div class="rond mx-auto text-center">51</div></div></div></a>
                    <a href="" class="region r-19"><div><div>Atsimo-Andrefana</div><div><div class="rond mx-auto text-center">51</div></div></div></a>
                    <a href="" class="region r-20"><div><div>Menabe</div><div><div class="rond mx-auto text-center">51</div></div></div></a>
                    <a href="" class="region r-21"><div><div>Diana</div><div><div class="rond mx-auto text-center">51</div></div></div></a>
                    <a href="" class="region r-22"><div><div>Sava</div><div><div class="rond mx-auto text-center">51</div></div></div></a>
_
<%if @results %>
  <%@results.each do | result|%><br>
    <%= link_to "#{result.nom_du_projet}" , projets_path  %>
  <%end%>
<%end%>

               <%if @res%>
                 <h3>Search Result zone</h3>  
                      <% @res.each do |res| %>  
                      <%= link_to "#{res.projet.nom_du_projet}", projets_path %><br> 
              <%end%>
              <%end%>

 <%if @search%>
   <h3>Search Result </h3>  
        <% @search.each do |res| %>  
        <%= link_to "#{res.projet.nom_du_projet}",  projets_path%><br> 
          
<%end%>
<%end%>

             <%if @filiere%>
               <h3>filiere Result Iga</h3>  
                    <% @filiere.each do |res| %>  
                   <%= link_to "#{res.projet.nom_du_projet}", projets_path %><br> 
                      
            <%end%>
            <%end%>
             
             <%if @secteur%>
               <h3>Search Result secteur</h3>  
                    <% @secteur.each do |res| %>  
                   <%= link_to "#{res.projet.nom_du_projet}", projets_path%><br> 
                      
            <%end%>
            <%end%>

             <%if @montant%>
                   <h3>Search Result montant</h3>  
                        <% @montant.each do |res| %>  
                       <%= link_to "#{res.nom_du_projet}", projets_path%><br>        
                <%end%>
            <%end%>

             <%if @ptf%>
                   <h3>Search Result montant</h3>  
                        <% @ptf.each do |res| %>  
                       <%= link_to "#{res.nom_du_projet}", projets_path%><br>        
                <%end%>
            <%end%>

            <%if @ptf%>
                   <h3>Search Result appui</h3>  
                        <% @appui.each do |res| %>  
                       <%= link_to "#{res.nom_du_projet}", projets_path%><br>        
                <%end%>
            <%end%>



            <%if @ben%>
                   <h3>Search Result appui</h3>  
                        <% @ben.each do |res| %>  
                       <%= link_to "#{res.projet.nom_du_projet}", projets_path%><br>        
                <%end%>
            <%end%>
              

             <%if @fin%>
                   <h3>Search Result appui</h3>  
                        <% @fin.each do |res| %>  
                       <%= link_to "#{res.nom_du_projet}", projets_path%><br>        
                <%end%>
            <%end%>

