  <header class="aci59a-0 eyAIuG haute sticky-limit">
    <div class="sc-1gnwgfb-2 stom">
    </div>
  </header>
<div class="mt-4 mb-4">
	<%= form_tag url_for(action: 'create'),method:'post', class:'form' do%>
		<div class="container">
			<div class="row mb-2">
				<div class="col-6">
					<div>
						<label for="nom" class="mr-2 table">Nom du projet </label>
					</div>
					<input type="text" name="nom_du_projet" id="nom" placeholder="Nom du projet" class="form-control">
				</div>
			</div>
			<div class="d-flex justify-content-between mb-3">
				<div>
					<h6 class="table">PTF</h6>
					<%= select_tag 'ptf_id', options_for_select(Ptf.all.collect{ |c| [c.title, c.id] }), :include_blank => "choisir", class: "form-control"%>
				</div>
				<div>
					<h6 class="table">Début</h6>
					<input type="date" name="debut_du_projet" class="form-control">
				</div>
				<div>
					<h6 class="table">Fin</h6>
					<input type="date" name="fin" class="form-control">
				</div>
				<div>
					<h6 class="table">Montant</h6>
					  <input name="montant" type = "range" min="0" max="60" onchange="rangevalue.value=value"/>
                  <output id="rangevalue">0</output> 
				</div>
				<div>
					<h6 class="table">Apui</h6>
					<%= select_tag 'appui_id', options_for_select(Appui.all.collect{ |c| [c.title, c.id] }), :include_blank => "choisir", class: "form-control"%>
				</div>
			</div>
		</div>

		<div class="container mb-2">
			<a class="btn-col" data-toggle="collapse" href="#secteur" role="button" aria-expanded="false" aria-controls="collapseExample">
				secteur
			</a>
				<div class="collapse" id="secteur">
				<div class="card card-body">
					<div class="row">
						<% Secteur.all.each do |c| %>
							<div class="col-md-4">
								<%= check_box("secteur_id",c.id, {checked: false}, {class: "form-control"}) %>
								<%=h c.title%>
							</div> 
						<% end %>
					</div>
				</div>
				</div>
			</div>



			<div class="container mb-2">
			<a class="btn-col" data-toggle="collapse" href="#filiere" role="button" aria-expanded="false" aria-controls="collapseExample">
				Filiere
			</a>
				<div class="collapse" id="filiere">
				<div class="card card-body">
					<div class="row">
						<% Filiere.all.each do |c| %>
							<div class="col-md-3">
								<%= check_box("filiere_id",c.id, {checked: false}) %>
								<%=h c.title%>
							</div>
						<% end %>
					</div>
				</div>
				</div>
			</div>

			<div class="container mb-2">
				<a class="btn-col" data-toggle="collapse" href="#Beneficiaire" role="button" aria-expanded="false" aria-controls="collapseExample">
					Beneficiaire
				</a>
				<div class="collapse" id="Beneficiaire">
					<div class="card card-body">
						<div class="row">
							<% Beneficiaire.all.each do |c| %>
								<div class="col-md-4">
									<%= check_box("ben_id",c.id, {checked: false}) %>
									<%=h c.title%>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		<div class="container mb-2">
			<a class="btn-col" data-toggle="collapse" href="#iga" role="button" aria-expanded="false" aria-controls="collapseExample">
				IGA(institution gouvernemental associé)
			</a>
			<div class="collapse" id="iga">
				<div class="card card-body">
					<div class="row">
						<% Iga.all.each do |c| %>
							<div class="col-md-12">
								<%= check_box("iga_id",c.id, {checked: false}) %>
								<%=h c.title%>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class="container mb-2">
			<a class="btn-col" data-toggle="collapse" href="#zi" role="button" aria-expanded="false" aria-controls="collapseExample">
				Région
			</a>
			<div class="collapse" id="zi">
				<div class="card card-body">
					<div class="row">
						<% Zone.all.each do |c| %>
							<div class="col-md-4">
								<%= check_box("zone_id",c.id, {checked: false}) %>
								<%=h c.title%>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class="container mt-4">
			<input type="submit" value="Créer" class="sc-eerKOB cfnPHQ">
		</div>
	<% end %>
</div>
