
     <h4>TITRE DE PROJET</h4>
        <%=@project.nom_du_projet%><br>
    
      <h4>PTF</h4>
       <%=@project.ptf.title%><br>

      <h4>DEBUT DU PROJET</h4>
       <%=@project.debut_du_projet%>

     <h4>FIN DU PROJET</h4>
     <%=@project.fin%>

     <h4>MONTANT</h4>
      <%=@project.montant.price%>
      <h4>APPUI</h4>
      <%=@project.appui.title%>

      <h4>SECTEUR</h4>
      <%@project.secteurprojets.each do|sp|%>
        <%=sp.secteur.title%><br>
      <%end%>

      <h4>FILIERE</h4>
       <%@project.filiereprojets.each do|fp|%>
        <%=fp.filiere.title%><br>
      <%end%>
      
      <h4>BENEFICIAIRE</h4>
       <%@project.benefprojets.each do|b|%>
        <%=b.beneficiaire.title%><br>
      <%end%>

      <h4>IGA</h4>>
         <%@project.igaprojets.each do|ip|%>
        <%=ip.iga.title%><br>
      <%end%>

       <h4>ZONE D'INTERVENTION</h4>>
         <%@project.zoneprojets .each do|zp|%>
        <%=zp.zone.title %><br>
      <%end%>

    <a href="/projets/:id/edit">EDITER</a>
