<header class="aci59a-0 eyAIuG sticky-limit">
    <div class="sc-1gnwgfb-2 hVIPFV pict">
      <style type="text/css">
        .pict {
          <% if @project.picture.attached?%>
            background-image: url(<%= rails_blob_url(@project.picture)%>);
          <%else%>
            background-image: url('/maki.jpg');
          <%end%>
        }

      </style>
      
    </div>
</header>
  <div class="logo">
    <div class="pic">
      <div class="imge-rep d-flex align-items-center">
      <%= image_tag "/giz.jpg"%>
      </div>
    </div>
    
    <div class="h-text text-white pr-4">
      <h3><%=@project.nom_du_projet%></h3>
    </div>
    <div class="asi"> 
      <div class="aside">
        <p><span class="attr">Secteurs :</span>
          <span class="word"></span>
  
          <%@project.secteurprojets.each do|sp|%>
            <%=sp.secteur.title%> ,
          <%end%>        
      </p>
      <p><span class="attr">Forme d'appui : </span>
        <span class="word"><%= @project.appui.title%></span>
        </p>
      <p><span class="attr">Filiere : </span>
        <span class="word">
          <%@project.filiereprojets.each do|fp|%>
          <%=fp.filiere.title%>, 
          <%end%> 
        </span>     
      </p>
      </div>
    </div>
  </div>
  <div class="show-cont pt-4 pb-4">
    <div class="objectif mx-auto">
      <h2 class="text-left color">Objectif général du projet</h2>
      <div class="mt-2 pt-2">
        <%=@project.objectif_generale_du_projet%>
      </div>
      <div class="appui mt-4">
        <h2 class="color text-left">Appui spécifique au secteur privé</h2>
        <div class="p-2">
          <%=@project.aspsp%>
        </div>
      </div>
      <div class="row pt-4 pb-4">
        <div class="col-md-6 list">
          <p><span class="attr">Régions : </span></p>
          <div class="mb-3">
              <%@project.zoneprojets .each do|zp|%>
                <span><%=zp.zone.title %> </span>
              <%end%>
          </div>
          <p><span class="attr">Partenaire d'implementation : </span>
          <p class="mb-3"><%= @project.partenaire_d_implementaton %></p>
          </p>
          <p><span class="attr">Bénéficiaire : </span></p>
          <div class="mb-3">
              <%@project.benefprojets.each do|ben|%>
                <span><%= ben.beneficiaire.title %> </span>
              <%end%>
          </div>
          <p><span class="attr">Montant : </span>
           <p class="mb-3">Entre <%=@project.montant.price%> d'euros</p>
          </p>
        </div>
        <div class="col-md-6 list">
          <p class="mb-3"><span class="attr">Nature de l'appui : </span><%=@project.appui.title%></p>
          <p class="mb-3"><span class="attr">Début : </span><%=@project.debut_du_projet%></p>
        <p class="mb-3"><span class="attr">Fin : </span><%=@project.fin%></p>
          <p class="mb-3"><span class="attr">Alignement aux priorités du plan emergence de Madagascar : </span><p><%= @project.apdem %></p></p>
        </div>
    </div>
    <div class="text-right">
      <a href="/projets/:id/edit" class="sc-eerKOB cfnPHQ mr-2">Télecharger</a>
    </div>
  </div>
</div>

