<header class="aci59a-0 eyAIuG sticky-limit">
    <div class="sc-1gnwgfb-2 hVIPFV pict">
      <style type="text/css">
        .pict {
          <%if @projet.secteurprojets.count == 1%>
            <%@projet.secteurprojets.each do|sp|%>
              background-image: url('/<%=sp.secteur.image_url%>');
            <%end%>
          <%else%>
            background-image: url('/secteur/accueil.jpg');
          <%end%>
        }

      </style>  
    </div>
</header>
  <div class="logo">
    <div class="pic">
      <div class="imge-rep d-flex align-items-center">
        <%if @projet.ptf.image_url%>
          <img src="/<%= @projet.ptf.image_url%>">
        <%end%>
      </div>
    </div>
    <div class="d-flex align-items-center h-text">
      <div class="text-white pr-4">
        <h3><%=@projet.nom_du_projet%></h3>
      </div>
    </div>
    <div class="asi"> 
      <div class="aside">
          <% if  @projet.secteurprojets.count == 1%>
              <p><span class="attr">Secteur : </span>
          <%else%>
              <p><span class="attr">Secteurs : </span>
          <%end%>
            <span class="word">
              <%@projet.secteurprojets .each do|sp|%>
                  <% if sp == @projet.secteurprojets.last%>
                    <span><%=sp.secteur.title %></span>
                  <% else %>
                    <span><%=sp.secteur.title %>, </span>
                  <% end %>
              <% end %>
              
            </span>
          </p>
       
          <% if  @projet.formeprojets.count == 1%>
              <p><span class="attr">Forme d'appui : </span>
          <%else%>
              <p><span class="attr">Formes d'appui : </span>
          <%end%>
          <span class="word">
              <%@projet.formeprojets .each do|fop|%>
                <% if fop == @projet.formeprojets.last%>
                  <span><%=fop.forme.title %></span>
                <% else %>
                  <span><%=fop.forme.title %>, </span>
                <% end %>
              <% end %>
            
          </span>
          </p>

          <% if  @projet.filiereprojets.count == 1%>
              <p><span class="attr">Filière : </span>
          <%else%>
              <p><span class="attr">Filières : </span>
          <%end%>
          <span class="word">
              <%@projet.filiereprojets .each do|fp|%>
                <% if fp == @projet.filiereprojets.last%>
                  <span><%=fp.filiere.title %></span>
                <% else %>
                  <span><%=fp.filiere.title %>, </span>
                <% end %>
              <% end %>
            
          </span>
          </p>
      </div>
    </div>
  </div>
  <div class="show-cont pt-4 pb-4">
    <div class="objectif mx-auto">
      <h2 class="text-left color">Objectif général du projet</h2>
      <div class="mt-2 pt-2">
        <%= raw @projet.objectif_generale_du_projet%>
      </div>
      <div class="appui mt-4">
        <h2 class="color text-left">Appui spécifique au secteur privé</h2>
        <div class="p-2">
          <%= raw @projet.aspsp%>
        </div>
      </div>
      <div class="row pt-4 pb-4">
        <div class="col-md-6 list">

          <% if  @projet.igaprojets.count == 1%>
              <p><span class="attr">Institution Gouvernementale Associée : </span></p>
          <%else%>
              <p><span class="attr">Institutions Gouvernementales Associées : </span></p>
          <%end%>
          <div class="mb-3">
              <%@projet.igaprojets .each do|g|%>
                  <%if g == @projet.igaprojets.last%>
                    <span><%=g.iga.title %></span>
                  <% else %>
                    <span><%=g.iga.title %>, </span>
                  <% end %>
              <% end %>
          </div>

          <% if  @projet.zoneprojets.count == 1%>
              <p><span class="attr">Région : </span></p>
          <%else%>
              <p><span class="attr">Régions : </span></p>
          <%end%>
          <div class="mb-3">
              <%@projet.zoneprojets .each do|zp|%>
                <% if zp == @projet.zoneprojets.last%>
                  <span><%=zp.zone.title %></span>
                <%else%>
                  <span><%=zp.zone.title %>, </span>
                <% end %>
              <% end %>
          </div>
          
          <% if  @projet.partenaireprojets.count == 1%>
              <p><span class="attr">Partenaire d'implémentation : </span></p>
          <%else%>
              <p><span class="attr">Partenaires d'implémentations : </span></p>
          <%end%>
          <div class="mb-3">
              <%@projet.partenaireprojets .each do|pap|%>
                <% if pap == @projet.partenaireprojets.last%>
                  <span><%=pap.partenaire.plateforme %></span>
                <%else%>
                  <span><%=pap.partenaire.plateforme %>, </span>
                <% end %>
              <% end %>
          </div>


          <% if  @projet.benefprojets.count == 1%>
              <p><span class="attr">Bénéficiaire : </span></p>
          <%else%>
              <p><span class="attr">Bénéficiaires : </span></p>
          <%end%>
          <div class="mb-3">
              <%@projet.benefprojets .each do|ben|%>
                  <%if ben == @projet.benefprojets.last%>
                    <span><%=ben.beneficiaire.title %></span>
                  <% else %>
                    <span><%=ben.beneficiaire.title %>, </span>
                  <% end %>
              <% end %>
          </div>

          <% @projet.montants.each do |m|%>
            <p><span class="attr">Montant  pour le secteur <%= m.secteur.title.downcase%> :</span>
                <p class="mb-3"><%= m.price %> <%= m.unite.nom%></p>
            </p>

          <%end%>
        </div>
        <div class="col-md-6 list">
          <p class="mb-3"><span class="attr">Nature de l'appui : </span><%=@projet.appui.title%></p>
          <p class="mb-3"><span class="attr">Début : </span><%=@projet.debut_du_projet%> &nbsp;&nbsp;&nbsp;&nbsp;<span class="attr">Fin : </span><%=@projet.fin%></p>
          <p class="mb-3"><span class="attr">Alignement aux priorités du Plan Emergence de Madagascar : </span><p></span><% @projet.pemprojets.each do |p|%>
                <p> <%=p.pem.title%></p>
            <%end%></p>

          <%if @projet.siteweb == " "%>
            <p class="mb-3"><span class="attr">Site web : </span>
                <span class="word">
                  <a href="https://<%= @projet.siteweb.remove('https://')%>"><%= @projet.siteweb%></a>
                </span>
            </p>
          <%end%>

          <%if @projet.files.attached?%>
            <%@projet.files.each do|file|%> 
              <p><span class="attr">Fichier : </span><%= link_to file.filename, rails_blob_path(file, disposition: "attachement") %></p>
            <%end%>
        <%end%>
       
        </div>
    </div>
    <div class="text-right">
      <%= link_to "Télécharger", projet_path(format: :pdf), :class => "sc-eerKOB cfnPHQ bold sear",  target: 'blank'%>
    </div>