      <%=@project.nom_du_projet%><br>
      <%=@project.ptf%><br>
      <%@project.secteurprojets.each do|sp|%>
        <%=sp.secteur.title%><br>
      <%end%>
      <%=@project.forme_d_appui%><br>
      <%=@project.filière_associees%>
      <%=@project.iga%><br>
      <%=@project.objectif_generale_du_projet%><br>
      <%=@project.aspsp%><br>
      <%=@project.zone%><br>
      <%=@project.partenaire_d_implementaton%><br>
      <%=@project.beneficiaires%><br>
      <%=@project.montant%><br>
      <%=@project.nature_de_l_appui%>
      <%=@project.debut_du_projet%>
      <%=@project.fin%>
      <%=@project.apdem%>
    <a href="edit_projet_path(projet.id)">EDITER</a>