<div class="container sans-head">
	<h4	>Listes des comptes validés</h4>
	<%if @users.count == 0%>
		<div class="text-center text-muted mt-4 mb-4">
			Aucun pour le moment
		</div>
	<% else %>
		<table class="table table-bordered table-dark">
		<thead>
			<tr> 
			<th scope="col">Id</th>
			<th scope="col">Email</th>
			<th scope="col">
				<a href="/contacts/" style="color: #52c39b;">Tous les messages<span class="badge badge-light"><%= Message.all.count%></span></a>
			</th>
			<th scope="col">Action</th>
			<th scope="col">Organisme</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |b|%>
			<tr>
			<th scope="row"><%=b.id%></th>
			<td><%=b.email%></td>
			<td>Message <span class="badge badge-light"><%= b.messages.count%></span></td>
			<td><a href="#" class="btn btn-info" data-toggle="modal" data-target="#mod<%= b.id%>">Voir</a>
			<a href="/super_admin/users/<%=b.id%>" data-method= "delete" class="btn btn-danger" data-confirm="Voulez-vous retirer cet utilisateur ?">Retirer</a></td>
			<td>
				<%if b.is_admin == true%>
					<span class="btn btn-success">Bailleur</span>
				<%elsif b.is_consultant == true%>
					<span class="btn btn-primary">Consultant</span>
				<%end%>
				
			</td>
			<%end%>
		</tr>
		</tbody>
		</table>
	<%end%>
</div>

<%for x in 0..@users.length-1%>
<div class="modal fade" id="mod<%= @users["#{x}".to_i].id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Information du visiteur</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
                <p><span>Nom :</span>
		    	<%=@users["#{x}".to_i].first_name%></p>
		    <p><span>Prénom :</span>
		    	<%=@users["#{x}".to_i].last_name%></p>
		    <p><span>Email :</span>
		    	<%=@users["#{x}".to_i].email%></p>
		    <%if @users["#{x}".to_i].organisme%>
		    	<%if @users["#{x}".to_i].organisme.ptf%>
		    		PTF : <%=@users["#{x}".to_i].organisme.ptf.title%></p>
		    	<%else%>
		    		IGA : <%=@users["#{x}".to_i].organisme.iga.title%></p>
		    	<%end%>
		    <%else%>
		    	<p>Autres</p>
		    <%end%>
		</p> 
        	<%if @users["#{x}".to_i].is_admin == true%>
		    	<p><span class="btn btn-info">Bailleur</span></p>
		    <% elsif  @users["#{x}".to_i].is_consultant == true%>
		    	<p><span class="btn btn-primary">Consultant</span></p>
		    <%else%>
				<%= form_for @users["#{x}".to_i], url: super_admin_user_path(@users["#{x}".to_i].id), method: :put do |f| %>
	 
					<p>Valider en tant que : <input type="submit" name="valider" value="Bailleur"> 
					 <input type="submit" name="valider" value="Consultant"></p>
				<%end%>
			<%end%>
		</p>
      </div>
    </div>
  </div>
</div>
<%end%>

<div class="container text-c">
	<%if @users_en_attente.count == 0%>
		<div class="text-center text-muted mt-4 mb-4">
			Aucun pour le moment
		</div>
	<% else %>
		<div class="d-flex justify-content-center align-items-center table-dark">
			<div class="col-1 text-center same">
				id
			</div>
			<div class="col-4 text-center same">
				email
			</div>
			<div class="col-4 text-center same">
				<div class="w-100 d-flex justify-content-around h-100 align-items-center"> 
					Valider en tant que
				</div>
			</div>
			<div class="col-3 text-center same">
				Action
			</div>
		</div>
		<% @users_en_attente.each do |u|%>
			<div class="d-flex justify-content-center align-items-center table-dark">
				<div class="col-1 text-center same">
					<%=u.id%>
				</div>
				<div class="col-4 text-center same">
					<%=u.email%>
				</div>
				<div class="col-4 text-center same">
					<div class="w-100 d-flex justify-content-around h-100 align-items-center"> 
						<%= form_for u, url: super_admin_user_path(u.id), method: :put do |f| %>
							<%= f.submit 'Bailleur', name: 'valider', value: 'Bailleur', class: 'btn btn-success'%>
							<%= f.submit 'Consultant', name: 'valider', value: 'Consultant', class: 'btn btn-primary'%>
						<%end%>
					</div>
				</div>
				<div class="col-3 text-center same">
					<a href="#" class="btn btn-info" data-toggle="modal" data-target="#mod<%= u.id%>">Voir</a>

				</div>
			</div>
		<%end%>
	<% end %>
</div>

<%for x in 0..@users_en_attente.length-1%>
<div class="modal fade" id="mod<%= @users_en_attente["#{x}".to_i].id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Information du visiteur</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
                <p><span>Nom :</span>
		    	<%=@users_en_attente["#{x}".to_i].first_name%></p>
		    <p><span>Prénom :</span>
		    	<%=@users_en_attente["#{x}".to_i].last_name%></p>
		    <p><span>Email :</span>
		    	<%=@users_en_attente["#{x}".to_i].email%></p>
		    <%if @users_en_attente["#{x}".to_i].organisme%>
		    	<%if @users_en_attente["#{x}".to_i].organisme.ptf%>
		    		PTF : <%=@users_en_attente["#{x}".to_i].organisme.ptf.title%></p>
		    	<%else%>
		    		IGA : <%=@users_en_attente["#{x}".to_i].organisme.iga.title%></p>
		    	<%end%>
		    <%else%>
		    	<p>Autres</p>
		    <%end%>
		</p> 
        	
				<%= form_for @users["#{x}".to_i], url: super_admin_user_path(@users_en_attente["#{x}".to_i].id), method: :put do |f| %>
	 
					<p>Valider en tant que : <input type="submit" name="valider" value="Bailleur" class="btn-success"> 
					 <input type="submit" name="valider" value="Consultant" class="btn-primary"></p>
				<%end%>
		</p>
      </div>
    </div>
  </div>
</div>
<%end%>
