<div class="card mb-3 sans-head" style="max-width: 540px; margin-left: 35%; width: 40%;">
  <div class="row no-gutters">
    <div class="col-md-4">
   <p class="sc-1gnwgfb-2 hVIPFV pict"></p>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">BAILLEUR INFORMATION</h5>
        <p class="card-text">
        <p><span>Nom :</span>
		    	<%=@user.first_name%></p>
		    <p><span>Prénom :</span>
		    	<%=@user.last_name%></p>
		    <p><span>Email :</span>
		    	<%=@user.email%></p>
		    <%if @user.organisme%>
		    	<%if @user.organisme.ptf%>
		    		PTF : <%=@user.organisme.ptf.title%></p>
		    	<%else%>
		    		IGA : <%=@user.organisme.iga.title%></p>
		    	<%end%>
		    <%else%>
		    	<p>Autres</p>
		    <%end%>
		</p>
        <p class="card-text"><small class="text-muted">    
        	<%if @user.is_admin == true%>
		    	<p><span class="btn btn-info">Bailleur</span></p>
		    <% elsif  @user.is_consultant == true%>
		    	<p><span class="btn btn-primary">Consultant</span></p>
		    <%else%>
				<%= form_for @user, url: super_admin_user_path(@user.id), method: :put do |f| %>
	 
					<p>Valider en tant que : <input type="submit" name="valider" value="Bailleur"> 
					 <input type="submit" name="valider" value="Consultant"></p>
				<%end%>
			<%end%>
		</small></p>
      </div>
    </div>
  </div>
</div>
