<header class="aci59a-0 eyAIuG sticky-limit">
    <div class="sc-1gnwgfb-2 hVIPFV">
    </div>
</header>
<div class="logo">
    <div class="pic">
      <div class="imge-rep d-flex align-items-center">
      <%= image_tag "#{@user.organisme.ptf.image_url}"%>
      </div>
    </div>
<div class="container">
	
	<div class="row">
		<div class="col-md-4">
			
		</div>
		<div class="col-md-6">
			<h1 style="color:black;">Bailleur information</h1>
		    <p><span>Nom :</span>
		    	<%=@user.first_name%></p>
		    <p><span>Prénom :</span>
		    	<%=@user.last_name%></p>
		    <p><span>Email :</span>
		    	<%=@user.email%></p>
		    <p><span>Organisme :</span>
		    	<%=@user.organisme.nom%></p>
		    <%if @user.is_admin == true%>
		    	<p><span class="btn btn-success">Vous êtes bailleur</span></p>
		    <% elsif  @user.is_consultant == true%>
		    	<p><span class="btn btn-primary">Vous êtes consultant</span></p>
		    <%else%>
				<%= form_for @user, url: super_admin_user_path(@user.id), method: :put do |f| %>
	 
					<p>Valider en tant que : <input type="submit" name="valider" value="Bailleur"> 
					 <input type="submit" name="valider" value="Consultant"></p>

				<%end%>
			<%end%>
		</div>
	</div>

</div>
