<header class="aci59a-0 eyAIuG sticky-limit">
    <div class="sc-1gnwgfb-2 hVIPFV">
    </div>
</header>

<div class="container">
	
	<div class="row">
		<div class="col-md-4">
			
		</div>
		<div class="col-md-6">
			<h1 style="color:black;">Bailleur information</h1>
		    <p><span>Nom :</span>
		    	<%=@user.first_name%></p>
		    <p><span>Prénom :</span>
		    	<%=@user.last_name%></p>
		    <p><span>Email :</span>
		    	<%=@user.email%></p>
		    <p><span>Organisme :</span>
		    	<%=@user.organisme.nom%></p>
			<%= form_for @user, url: super_admin_user_path(@user.id), method: :put do |f| %>
 
				<p>Valider en tant que : <input type="submit" name="valider" value="Bailleur"> 
				 <input type="submit" name="valider" value="Consultant"></p>

			<%end%>
		</div>
	</div>

</div>
