<div class="sans-head mb-5">
	<%if @pubs.count == 0 %>
			<div class="text-center text-muted mt-1 mb-4">
				<p> Aucune publication</p>
			</div>
		<%else%>
	<div class="mb-4 text-center">
		<h3 class="tablePrint">Toutes les publications</h3>
		</div>
	<div class="mx-auto row justify-content-center pub-width">
		<% @pubs.each do |a|%>
			<div class="col-10 col-md-3 card mx-1 mb-2 position-relative">
				<div class="card-body">
					 	 	<div class="card-title">
						    <h5 class="primary-color"><%= a.title %></h5>
						    </div>
						<div class="card-text">
							<p class="card-text text-muted mb-2 truncate-pub">
								<div class="mt-2 mb-5">
								<%= raw truncate(sanitize(a.description, tags: []), length: 100) %></p>
								</div>
						</div>
						<%if current_user.is_super_admin == false%>
						<p class="mt-3 position-absolute more-info-pub"><a href="<%= publication_path(a.id)%>" class="tablePrint">Voir</a></p>
						<%else%>
						<p class="mt-3 position-absolute more-info-pub"><a href="<%= admin_publication_path(a.id)%>" class="tablePrint">Voir</a></p>
						<%end%>
				</div>
			</div>
      <%end%>
	</div>
	<div class="text-center">
		<%= paginate @pubs %>
	</div>
<%end%>
</div>