<%= javascript_pack_tag 'users' %>
<div class="sans-head container">
<div class="container-fluid full-page">
      <div class="row">
        <div class="col-3">
          
        </div>
        <div class="col-6 bg-dark">
          <% if user_signed_in? %>
            <p class="text-white mt-3">Connecté en tant que : <%= current_user.email %></p>
          <% end %>
          <h6 class="text-white my-3">Visiteurs non connectés:  <%= @users.where(is_signed_in: false).count%></h6>
          <h6 class="text-white my-3">Visiteurs connectés:  <%= @users.where(is_signed_in: true).count-1%></h6>

          <div class="left">
            <% @users.each do |user| %>
              <% if user.email != current_user.email and user.is_signed_in%>
                <p class="active-user bg-white" data-id="<%= user.id %>">
                  <span class="online-icon d-inline-block bg-success"></span>
                  <span class="table"><%= user.email %></span>
                </p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>