<div class="container-actu mx-auto row mb-5 sans-head">
	<div class="col-md-4 border-right">
		<h5 class="mb-4 text-center">Modifier cette actualité</h5>
		<%= form_tag url_for(action: 'update'),method:'put', class:'form', multipart: true do%>
			<div class="mb-4">
				<label for="nom" class="mr-2 table">Titre </label>
				<input type="text" name="title" id="nom" placeholder="Titre" class="form-control" required="true" value="<%= @actu.title%>">
			</div>
			<div class="mb-4">
							
				<span class="mr-2 table">Documents :</span>
				<%= file_field_tag :files, name: "files[]", required: true, multiple: true, class: 'toggleclass', id: :'document' %>
				<span class="btn btn-secondary" id="simulateur" >Modifier les fichiers </span>
			</div>
			<div>
				<p>Documents associés</p>
				<%for i in 0..@actu.files.length-1%>
					<span class="sc-eerKOB cfnPHQ" id="simulateur" style="margin-bottom: 10px;"><%= @actu.files[i].blob.filename%></span>
				<%end%>
			</div>
			<div class="mb-4">
				<input type="submit" name="cree" value="Publier" class="btn btn-bg-primary rounded-0 text-white btn-lg btn-block">
			</div>
		<%end%>
	</div>
	<div class="col-md">
		<h5 class="mb-4 text-center">Toutes les actualités</h5>
	    <% @actus.each do |a|%>
		    <div class="row align-items-center no-gutters border-bottom border-right pb-2 pt-2">
			    <div class="col-md-11 truncate-actu">
			    	<%= a.title %>
			    </div>
			    <div class="col-md-1 text-center">
			    	<a href="<%= super_admin_actu_path(a.id)%>" class="table">Voir</a>
			    </div>
		    </div>
		<%end%>	
		<div class="text-center mt-4">
			<%= paginate @actus %>
		</div>
	</div>
</div>