<header class="aci59a-0 eyAIuG sticky-limit">
    <div class="sc-1gnwgfb-2 hVIPFV">
      
    </div>
</header>
<%= form_tag url_for(action: 'create'),method:'post', class:'form', multipart: true do%>
	<div class="mt-4 mb-4" onmouseover ="verificationDate()">
		<div class="container">
			<div class="row mb-2">
				<div class="col-6">
					<div>
						<label for="nom" class="mr-2 tablePrint">Nom du projet </label>
					</div>
					<input type="text" name="nom_du_projet" id="nom"  value="<%= @projet.nom_du_projet%>" class="form-control">
				</div>
			</div>
		</div>
		<div class="container mb-2">
			<a class="tablePrint">
				Objectif général du projet
			</a>
			<div class="mt-2">
				<div class="card card-body">
			 		<textarea name="objectif_generale_du_projet" id="comment_body" class="editor"><%= @projet.objectif_generale_du_projet%></textarea>
					<p id="charlimit"><span class="words-left">150 mots maximum</span></p>
				</div>
			</div>
		</div>
		<div class="container mb-2">
			<a class="tablePrint">
				Appui spécifique au secteur privé
			</a>
			<div class="mt-2">
				<div class="card card-body">
			 		<textarea name="aspsp" id="aspsp" class="editor"><%= @projet.aspsp%></textarea>

					<p id="charlimit2"><span class="words-left2">300 mots maximum</span></p>
				</div>
			</div>
		</div>

			<div class="container">
				<div class=" row mb-2">
					<div class="col-6">
						<h6 class="tablePrint">Partenaire Technique Financier</h6>
						<select name="ptf" class="form-control">
							<%Ptf.all.order(:title).each do |p|%>
								<%if p == @projet.ptf%>
									<option value="<%= @projet.ptf.id%>" selected><%= @projet.ptf.title%></option>
								<%else%>
									<option value="<%= p.id%>"><%= p.title%></option>
								<%end%>
							<%end%>
						</select>
					</div>
					<div class="col-6">
						<h6 class="tablePrint">Nature de l'appui</h6>
						<select name="appui" class="form-control">
							<%Appui.all.order(:title).each do |a|%>
								<%if a == @projet.appui%>
									<option value="<%= @projet.appui.id%>" selected><%= @projet.appui.title%></option>
								<%else%>
									<option value="<%= a.id%>"><%= a.title%></option>
								<%end%>
							<%end%>
						</select>
						
					</div>
						
				</div>
			</div>

		<div class="container mb-2">
			<a class="tablePrint">
				Secteurs
			</a>
				<div class="mt-2">
				<div class="card card-body">
					<div class="row">
						<% Secteur.all.order(:title).each_with_index do |c,x| %>
								<div class="col-md-4">
									<% if @sects %> 
							 			<% if @sects.include? c %>

											<%= check_box_tag("secteur_#{c.id}", c.id,true, id: :"s#{c.id}",:onclick => "check(#{c.id})") %>
										<%else%>
											<%= check_box_tag("secteur_#{c.id}", c.id,false, id: :"s#{c.id}",:onclick => "check(#{c.id})") %>
										<%end%>
									<%= c.title%>
									<%end%>
								</div> 
							<% end %>
					</div>
				</div>
				</div>
		</div>
		<div class="container calendrier position-relative">
			<div class="d-flex justify-content-between mb-3">
				<div class="col-md-4 pl-0">
					<h6 class="tablePrint">Montant pour le secteur :</h6>
					<% Secteur.all.each do |s|%>
							<% if @sects %> 
						 		<% if @sects.include? s %>
						 			<% if @montants%>
							 			<% if @montants.include? s.montants%>

											<div class="form-control pr-0 " id="montant<%=s.id%>" style="display: block;">
												<input type="text" name="montant<%= s.id%>" placeholder="<%= s.title%>" value="<%= s.montants.find_by(projet_id: @projet.id).price%>" class="border-0" onkeyup="InputMontantPicker(this)" onmouseout="saveMontant(this)">
												<div style="margin-top: -1.5rem; margin-left: 12.5rem;">
												<select name="unite_id<%= s.id%>" class="text-center border-left unit pl-2 btn-reset">
													<% Unite.all.each do |u|%>
														<%if u == s.montants.find_by(projet_id: @projet.id).unite %>
															<option value="<%= s.montants.find_by(projet_id: @projet.id).unite.id%>" selected><%= u.nom%></option>
														<%else%>
															<option value="<%= u.id%>"><%= u.nom%></option>
														<%end%>
													<%end%>
												</select>
												</div>
											</div>
										<%else%>
											<div class="form-control pr-0" id="montant<%=s.id%>" style="display: none; padding-top:2rem; ">
												<input type="text" name="montant<%= s.id%>" placeholder="<%= s.title%>" class="border-0" onkeyup="InputMontantPicker(this)" onmouseout="saveMontant(this)">
												<div style="padding-left: 12rem;">
													<%= select_tag "unite_id#{s.id}", options_for_select(Unite.all.order(:nom).collect{ |c| [c.nom, c.id] }), :include_blank => "choisir", class: "text-center border-left unit pl-2 btn-reset " %>
												</div>
											</div>
										<%end%>
									<%end%>
								<%else%>
									<div class="form-control pr-0" id="montant<%=s.id%>" style="display: none; margin-top: 2rem;">
										<input type="text" name="montant<%= s.id%>" placeholder="<%= s.title%>" class="border-0" onkeyup="InputMontantPicker(this)" onmouseout="saveMontant(this)">
										<%= select_tag "unite_id#{s.id}", options_for_select(Unite.all.order(:nom).collect{ |c| [c.nom, c.id] }), :include_blank => "choisir", class: "text-center border-left unit pl-2 btn-reset"%>
									</div>
								<%end%>
							<%end%>

						<%end%>
				</div>
				<div class="col-md-4">
					<h6 class="tablePrint">Début de projet</h6>
					<input type="text" id="selectionDebut" value="<%= @projet.debut_du_projet%>" class="form-control" required="true" >
					<input type="hidden" id="selectionDebutValue" value="<%= @projet.debut_du_projet%>" class="form-control" required="true" name="debut_du_projet">
				</div>
				<div class="col-md-4 pr-0">			
					<h6 class="tablePrint">Fin de projet</h6>
					<input type="text" class="form-control" value="<%= @projet.fin%>" required="true" id="selectionFin">
					<input type="hidden" name="fin" id="selectionFinValue" class="form-control" value="<%= @projet.fin%>" required="true" name="fin">
				</div>
			</div>
		</div>


			<div class="container mb-2 mt-2">
				<a class="tablePrint" id="filAsso">
					Filières associées
				</a>
				<div class="mt-2">
					<div class="card card-body">
						<div class="row">
							<%Filiere.order(:title).all.each do |fili|%>
									<div class="col-md-4" style="display: none" id="fil<%= fili.id%>">
										<%if @fils%>
										<% if @fils.include? fili %>
											<%= check_box_tag("filiere_ids[]", fili.id,true, id: :"filCheck#{fili.id}")%>
										<% else %>
											<%= check_box_tag("filiere_ids[]", fili.id,false, id: :"filCheck#{fili.id}")%>
										<% end %>
										<% end %>
										<%= fili.title%>
									</div>
								<div class="col-md-4" style="display: block" id="fl<%= fili.id%>">
									<%= check_box_tag("filiere_ids[]", fili.id)%>
									<%= fili.title%>
								</div>
							<% end %>
						</div>
						<div class="mt-2">
							<button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#fl"> Autre</button><br>	
						</div>
						<div class="collapse" id="fl">
							<div class="container">
								<div class="row">
									<div class="col-md-5" style="text-align: center;">
										<h6>Ajout d'une autre filière</h6>
								    	<input type="text" name="newfili" size=15 placeholder="Autre filière" class="form-control" id="fla"><br>	
								    	<input type="button" class="sc-eerKOB cfnPHQ" value="Ajouter" id="add">			
									</div>
									<div class="col-md-7">
										<h6 style="text-align: center;">La nouvelle filière doit être cochée</h6>
										<% 10.times do |f|%>
									    	<div id="check<%= f%>" style="display: block;">
												<p id="a<%= f%>" style="display: none;">
													<%= check_box_tag("checkfili#{f}", :id => "c#{f}") %>
													<span id="s<%= f%>"></span>	
													<span id="s1<%= f%>"></span>	
													<span id="s2<%= f%>"></span>	
													<span id="s3<%= f%>"></span>	
													<span id="s4<%= f%>"></span>	
													<span id="s5<%= f%>"></span>	
													<span id="s6<%= f%>"></span>	
													<span id="s7<%= f%>"></span>	
													<span id="s8<%= f%>"></span>	
													<span id="s9<%= f%>"></span>	
													<input type="hidden" name="valfili<%= f%>" id="valfili<%= f%>">	
												</p>								
											</div>
									    <%end%>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="container mb-2 mt-2">
				<a class="tablePrint" id="formAsso">
					Formes d'appui
				</a>
				<div class="mt-2">
					<div class="card card-body">
						<div class="row">
							<%Forme.order(:title).all.each do |form|%>
								<div class="col-md-6" style="display: none" id="form<%= form.id%>">
									<% if @forms.include? form %>
										<%= check_box_tag("forme_ids[]", form.id,true,id: :"formCheck#{form.id}")%>
									<% else %>
										<%= check_box_tag("forme_ids[]", form.id,false,id: :"formCheck#{form.id}")%>
									<% end %>
									<%= form.title%>
								</div>
								<div class="col-md-6" style="display: block" id="forme<%= form.id%>">
									<%= check_box_tag("forme_ids[]", form.id)%>
									<%= form.title%>
								</div>
							<% end %>
						</div>
						<div class="mt-2">
							<button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#fap"> Autre</button><br>	
						</div>
						<div class="collapse" id="fap">
							<div class="container">
								<div class="row">
									<div class="col-md-5" style="text-align: center;">
										<h6>Ajout d'une autre forme d'appui</h6>
								    	<input type="text" name="newform" size=15 placeholder="Autre forme d'appui" class="form-control" id="fo"><br>	
								    	<input type="button" class="sc-eerKOB cfnPHQ" value="Ajouter" id="addForm">			
									</div>
									<div class="col-md-7">
											<h6 style="text-align: center;">La nouvelle forme d'appui doit être cochée</h6>
										<% 10.times do |form|%>
									    	<div id="check<%= form%>" style="display: block;">
												<p id="pForm<%= form%>" style="display: none;">
													<%= check_box_tag("checkform#{form}", :id => "c#{form}") %>
													<span id="f<%= form%>"></span>	
													<span id="f<%= form%>"></span>	
													<span id="f2<%= form%>"></span>	
													<span id="f3<%= form%>"></span>	
													<span id="f4<%= form%>"></span>	
													<span id="f5<%= form%>"></span>	
													<span id="f6<%= form%>"></span>	
													<span id="f7<%= form%>"></span>	
													<span id="f8<%= form%>"></span>	
													<span id="f9<%= form%>"></span>	
													<input type="hidden" name="valform<%= form%>" id="valform<%= form%>">	
												</p>								
											</div>
									    <%end%>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="container mb-2">
				<a class="tablePrint">
					Bénéficiaires
				</a>
				<div class="mt-2">
					<div class="card card-body">
						<div class="row">
							<% Beneficiaire.all.order(:title).each_with_index do |c,x| %>
								<div class="col-md-6">
									<% if @bens%>
							 			<% if @bens.include? c %>

							   			<%= check_box_tag("beneficiaire_#{x}",c.id, checked: true) %>
							   			<%else%>
							 				<%= check_box_tag("beneficiaire_#{x}",c.id) %>
							 			<%end%>
							 		<%end%>
							   		<%= c.title%> 
								</div>
							<% end %>
						</div>
						<div class="mt-2">
							<button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#atr"> Autre</button><br>
						</div>
						<div class="collapse" id="atr">
							<div class="container">
								<div class="row">
									<div class="col-md-5" style="text-align: center;">
										<h6>Ajout d'un nouveau bénéficiaire</h6>
								    	<input type="text" name="newben" size=15 placeholder="Autre bénéficiaire" class="form-control" id="inp"><br>	
								    	<input type="button" class="sc-eerKOB cfnPHQ" value="Ajouter" id="ajout">			
									</div>
									<div class="col-md-7">
											<h6 style="text-align: center;">Le nouveau bénéficiaire doit être coché</h6>
										<% 10.times do |b|%>
									    	<div id="check<%= b%>" style="display: block;">
												<p id="p<%= b%>" style="display: none;">
													<%= check_box_tag("checkben#{b}", :id => "c#{b}") %>
													<span id="ben<%= b%>"></span>	
													<span id="ben1<%= b%>"></span>	
													<span id="ben2<%= b%>"></span>	
													<span id="ben3<%= b%>"></span>	
													<span id="ben4<%= b%>"></span>	
													<span id="ben5<%= b%>"></span>	
													<span id="ben6<%= b%>"></span>	
													<span id="ben7<%= b%>"></span>	
													<span id="ben8<%= b%>"></span>	
													<span id="ben9<%= b%>"></span>	
													<input type="hidden" name="valben<%= b%>" id="valben<%= b%>">	
												</p>								
											</div>
									    <%end%>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container mb-2">
				<a class="tablePrint">
					Institution Gouvernementale Associée
				</a>
				<div  class="mt-2">
					<div class="card card-body">
						<div class="row">
							<% Iga.all.order(:title).each_with_index do |c,x| %>
								<div class="col-md-12">
									<% if @igas%>
								 		<% if @igas.include? c %>
											<%= check_box_tag("iga_#{x}",c.id, checked: true) %>

								 		<%else%>
								 			<%= check_box_tag("iga_#{x}",c.id) %>
								 		<%end%>
								 	<%end%>
								 	<%= c.title%>
								</div>
							<% end %>
						</div>
						<div class="mt-2">
							<button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#iga"> Autre</button><br>
						</div>
						<div class="collapse" id="iga">
							<div class="container">
								<div class="row">
									<div class="col-md-5" style="text-align: center;">
										<h6>Ajout d'une autre IGA</h6>
								    	<input type="text" name="newiga" size=15 placeholder="autre IGA" class="form-control" id="inpiga"><br>	
								    	<input type="button" class="sc-eerKOB cfnPHQ" value="Ajouter" id="ajoutIga">			
									</div>
									<div class="col-md-7">
											<h6 style="text-align: center;">La nouvelle IGA doit être cochée</h6>
										<% 10.times do |i|%>
									    	<div id="check<%= i%>" style="display: block;">
												<p id="pi<%= i%>" style="display: none;">
													<%= check_box_tag("checkiga#{i}", :id => "c#{i}") %>
													<span id="igaspan<%= i%>"></span>	
													<span id="igaspan1<%= i%>"></span>	
													<span id="igaspan2<%= i%>"></span>	
													<span id="igaspan3<%= i%>"></span>	
													<span id="igaspan4<%= i%>"></span>	
													<span id="igaspan5<%= i%>"></span>	
													<span id="igaspan6<%= i%>"></span>	
													<span id="igaspan7<%= i%>"></span>	
													<span id="igaspan8<%= i%>"></span>	
													<span id="igaspan9<%= i%>"></span>	
													<input type="hidden" name="valiga<%= i%>" id="valiga<%= i%>">	
												</p>								
											</div>
									    <%end%>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container mb-2">
				<a class="tablePrint">
					Alignement aux priorités du Plan Emergence de Madagascar
				</a>
				<div class="mt-2">
					<div class="card card-body">
						<div class="row">
							<% Engagement.all.order(:id).each_with_index do |c,x| %>
								<div class="col-md-12">
									<p class="mt-2 mb-0">
										<%= c.title%> 
									</p>
									<%c.pems.each do |p|%>
										<div class="ml-4">
											<% if @pems%>
										 		<% if @pems.include? p %>
													<%=check_box_tag("pem_#{x}",p.id,checked: true) %> 
													<%= p.title %>
												<%else%>
													<%=check_box_tag("pem_#{x}",p.id) %> 
													<%= p.title %>
												<%end%>
											<%end%>
										</div>
									<%end%>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>

			<div class="container mb-2">
				<a class="tablePrint">
					Régions
				</a>
				<div class="mt-2">
					<div class="card card-body">
						<div class="row">
							<% Zone.all.each_with_index do |c,x| %>
								<div class="col-md-4">
								 	<%if c.id == 1%>
									 	<% if @zones%>
									 		<% if @zones.include? c %>
												<%= check_box_tag("zone_#{x}",1, checked: true) %>
											<%else%>
									 			<%= check_box_tag("zone_#{x}",1) %>
									 		<%end%>
									 	<%end%>
										National
									<%elsif c.id == 2%>
										<% if @zones%>
									 		<% if @zones.include? c %>
												<%= check_box_tag("zone_#{x}",9, checked: true) %>
											<%else%>
									 			<%= check_box_tag("zone_#{x}",9) %>
									 		<%end%>
									 	<%end%>
										Atsimo Atsinanana
									<%elsif c.id == 3%>
										<% if @zones%>
									 		<% if @zones.include? c %>
												<%= check_box_tag("zone_#{x}",17, checked: true) %>
											<%else%>
									 			<%= check_box_tag("zone_#{x}",17) %>
									 		<%end%>
									 	<%end%>
										Itasy
									<%elsif c.id == 4%>
										<% if @zones%>
									 		<% if @zones.include? c %>
												<%= check_box_tag("zone_#{x}",2, checked: true) %>
											<%else%>
									 			<%= check_box_tag("zone_#{x}",2) %>
									 		<%end%>
									 	<%end%>
										Alaotra Mangoro
									<%elsif c.id == 5%>
										<% if @zones%>
									 		<% if @zones.include? c %>
												<%= check_box_tag("zone_#{x}",10, checked: true) %>
											<%else%>
									 			<%= check_box_tag("zone_#{x}",10) %>
									 		<%end%>
									 	<%end%>
										Atsinanana
									<%elsif c.id == 6%>
										<% if @zones%>
									 		<% if @zones.include? c %>
												<%= check_box_tag("zone_#{x}",18, checked: true) %>
											<%else%>
									 			<%= check_box_tag("zone_#{x}",18) %>
									 		<%end%>
									 	<%end%>
										Melaky
									<%elsif c.id == 7%>
										<% if @zones%>
									 		<% if @zones.include? c %>
												<%= check_box_tag("zone_#{x}",3, checked: true) %>
											<%else%>
									 			<%= check_box_tag("zone_#{x}",3) %>
									 		<%end%>
									 	<%end%>
										Amoron'i Mania
									<%elsif c.id == 8%>
										<% if @zones%>
									 		<% if @zones.include? c %>
												<%= check_box_tag("zone_#{x}",11, checked: true) %>
											<%else%>
									 			<%= check_box_tag("zone_#{x}",11) %>
									 		<%end%>
									 	<%end%>
										Betsiboka
									<%elsif c.id == 9%>
										<% if @zones%>
									 		<% if @zones.include? c %>
												<%= check_box_tag("zone_#{x}",19, checked: true) %>
											<%else%>
									 			<%= check_box_tag("zone_#{x}",19) %>
									 		<%end%>
									 	<%end%>
										Menabe
									<%elsif c.id == 10%>
										<% if @zones%>
									 		<% if @zones.include? c %>
												<%= check_box_tag("zone_#{x}",4, checked: true) %>
											<%else%>
									 			<%= check_box_tag("zone_#{x}",4) %>
									 		<%end%>
									 	<%end%>
										Analamanga
									<%elsif c.id == 11%>
										<% if @zones%>
									 		<% if @zones.include? c %>
												<%= check_box_tag("zone_#{x}",12, checked: true) %>
											<%else%>
									 			<%= check_box_tag("zone_#{x}",12) %>
									 		<%end%>
									 	<%end%>
										Boeny
									<%elsif c.id == 12%>
										<% if @zones%>
									 		<% if @zones.include? c %>
												<%= check_box_tag("zone_#{x}",20, checked: true) %>
											<%else%>
									 			<%= check_box_tag("zone_#{x}",20) %>
									 		<%end%>
									 	<%end%>
										Sava
									<%elsif c.id == 13%>
										<% if @zones%>
									 		<% if @zones.include? c %>
												<%= check_box_tag("zone_#{x}",5, checked: true) %>
											<%else%>
									 			<%= check_box_tag("zone_#{x}",5) %>
									 		<%end%>
									 	<%end%>
										Analanjirofo
									<%elsif c.id == 14%>
										<% if @zones%>
									 		<% if @zones.include? c %>
												<%= check_box_tag("zone_#{x}",13, checked: true) %>
											<%else%>
									 			<%= check_box_tag("zone_#{x}",13) %>
									 		<%end%>
									 	<%end%>

										Bongolava
									<%elsif c.id == 15%>
										<% if @zones%>
									 		<% if @zones.include? c %>
												<%= check_box_tag("zone_#{x}",21, checked: true) %>
											<%else%>
									 			<%= check_box_tag("zone_#{x}",21) %>
									 		<%end%>
									 	<%end%>
										Sofia
									<%elsif c.id == 16%>
										<% if @zones%>
									 		<% if @zones.include? c %>
												<%= check_box_tag("zone_#{x}",6, checked: true) %>
											<%else%>
									 			<%= check_box_tag("zone_#{x}",6) %>
									 		<%end%>
									 	<%end%>
										Androy
									<%elsif c.id == 17%>
										<% if @zones%>
									 		<% if @zones.include? c %>
												<%= check_box_tag("zone_#{x}",15, checked: true) %>
											<%else%>
									 			<%= check_box_tag("zone_#{x}",15) %>
									 		<%end%>
									 	<%end%>
										Diana
									<%elsif c.id == 18%>
										<% if @zones%>
									 		<% if @zones.include? c %>
												<%= check_box_tag("zone_#{x}",22, checked: true) %>
											<%else%>
									 			<%= check_box_tag("zone_#{x}",22) %>
									 		<%end%>
									 	<%end%>
										Vakinankaratra
									<%elsif c.id == 19%>
										<% if @zones%>
									 		<% if @zones.include? c %>
												<%= check_box_tag("zone_#{x}",7, checked: true) %>
											<%else%>
									 			<%= check_box_tag("zone_#{x}",7) %>
									 		<%end%>
									 	<%end%>
										Anosy
									<%elsif c.id == 20%>
										<% if @zones%>
									 		<% if @zones.include? c %>
												<%= check_box_tag("zone_#{x}",16, checked: true) %>
											<%else%>
									 			<%= check_box_tag("zone_#{x}",16) %>
									 		<%end%>
									 	<%end%>
										Haute Matsiatra
									<%elsif c.id == 21%>
									<% if @zones%>
									 		<% if @zones.include? c %>
												<%= check_box_tag("zone_#{x}",23, checked: true) %>
											<%else%>
									 			<%= check_box_tag("zone_#{x}",23) %>
									 		<%end%>
									 	<%end%>
										Vatovavy-Fitovinany
									<%elsif c.id == 22%>
										<% if @zones%>
									 		<% if @zones.include? c %>
												<%= check_box_tag("zone_#{x}",8, checked: true) %>
											<%else%>
									 			<%= check_box_tag("zone_#{x}",8) %>
									 		<%end%>
									 	<%end%>
										Atsimo Andrefana
									<%elsif c.id == 23%>
										<% if @zones%>
									 		<% if @zones.include? c %>
												<%= check_box_tag("zone_#{x}",17, checked: true) %>
											<%else%>
									 			<%= check_box_tag("zone_#{x}",17) %>
									 		<%end%>
									 	<%end%>
										Ihorombe
								<%end%>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>

			<div class="container mt-4">
				<input type="submit" name="modifier" value="Enregistrer la modification" class="btn btn-secondary">
				
				<a href="<%= super_admin_projet_path(@projet.id)%>" class="btn btn-secondary">Annuler la modification</a>
			</div>		
	</div>
<% end %>
<%= render partial: "/admin/projets/script_edit.html.erb"%>