<div class="container sans-head">
	<div class="row">
		<%@messages.order(created_at: :desc).each do |m|%>
		  <div class="col-sm-6">
		    <div class="card">
		      <div class="card-body">
		       <label>Message :</label>
				<%= m.content%>
				<p>Envoyé le <%= m.created_at%> par 
					<%if m.sender%>
						<a href="https://<%= m.sender.email%>" style="color: #52c39b;" target="_blank"><%= m.sender.email%></a>
					<%else%>
						<a href="https://<%= m.email%>" style="color: #52c39b;" target="_blank"><%= m.email%></a>
					<%end%>
				</p>
				<input type="submit" name="read" value="Lu" class="btn btn-success">
		      </div>
		    </div>
		  </div>
		<%end%>
	</div>
</div>