  <header class="aci59a-0 eyAIuG haute sticky-limit">
    <div class="sc-1gnwgfb-2 stom">
    </div>
       <div class="head-te"><marquee behavior="" direction=""></marquee></div>
  </header>
<div class="sc-11unfkk-2 fxFQyp m-5">
  <header class="">
    <div class="qjc24y-1 hlIrlm">  
      <div class="qjc24y-0 jMLWRH">
        <div class="login mx-auto">
          <h2>Connexion</h2>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field form-group">
              <div class="form-content text-left">
                <%= f.label :email, "Email" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control form-width', placeholder:'Adresse e-mail' %>
              </div>
            </div>
          
            <div class="field form-group">
              <div class="form-content text-left">
                <%= f.label :password, "Mot de passe" %>
                <%= f.password_field :password, autocomplete: "current-password w-4", class:'form-control form-width', placeholder:'Mot de passe'%>               
              </div>
            </div>
            <div class="field form-group">
              <div class="form-content text-left">   
                <% if devise_mapping.rememberable? %>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me, "Se souvenir de moi ?" %>
                  </div>
                <% end %>         
              </div>
            </div>
            <div class="actions mb-4">
              <%= f.submit "Se connecter", class:'sc-eerKOB cfnPHQ' %>
            </div>
          <% end %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </header>
</div>