<script type="text/javascript">


	//Required l'objectif général du projet et l'appui spécifique au secteur privé
	function validCheck(){
			var fin = document.getElementById('selectionFin')
			var debut = document.getElementById('selectionDebut')
			if (tinyMCE.get('comment_body').getContent() != "" && debut.value == "" && fin.value == "" && tinyMCE.get('aspsp').getContent() == "") {
				document.getElementById('modal-body-val').innerHTML = "<ul><li>Veuillez remplir l'appui spécifique au secteur privé</li><li>Veuillez sélectionner la date de début</li><li>Veuillez sélectionner la date de fin</li></ul>"
				return false
			}else if (tinyMCE.get('comment_body').getContent() != "" && debut.value == "" && fin.value == "" && tinyMCE.get('aspsp').getContent() != "") {
				document.getElementById('modal-body-val').innerHTML = "<ul><li>Veuillez sélectionner la date de début</li><li>Veuillez sélectionner la date de fin</li></ul>"
				return false
			}else if (tinyMCE.get('comment_body').getContent() != "" && debut.value != "" && fin.value == "" && tinyMCE.get('aspsp').getContent() != "") {
				document.getElementById('modal-body-val').innerHTML = "<ul><li>Veuillez sélectionner la date de fin</li></ul>"
				return false
			}else if (tinyMCE.get('comment_body').getContent() != "" && debut.value != "" && fin.value != "" && tinyMCE.get('aspsp').getContent() != "") {
				var annule = document.getElementById('Sauvegarder-publier')
				annule.removeAttribute("data-toggle")
				annule.removeAttribute("data-target")
				return true
			}else if (tinyMCE.get('comment_body').getContent() == "" && debut.value == "" && fin.value == "" && tinyMCE.get('aspsp').getContent() == "") {
				document.getElementById('modal-body-val').innerHTML = "<ul><li>Veuillez remplir l'objectif général du projet</li><li>Veuillez remplir l'appui spécifique au secteur privé</li><li>Veuillez sélectionner la date de début</li><li>Veuillez sélectionner la date de fin</li></ul>"
				return false
			}else if (tinyMCE.get('comment_body').getContent() == "" && debut.value == "" && fin.value == "" && tinyMCE.get('aspsp').getContent() != "") {
				document.getElementById('modal-body-val').innerHTML = "<ul><li>Veuillez remplir l'objectif général du projet</li><li>Veuillez sélectionner la date de début</li><li>Veuillez sélectionner la date de fin</li></ul>"
				return false
			}else if (tinyMCE.get('comment_body').getContent() != "" && debut.value != "" && fin.value == "" && tinyMCE.get('aspsp').getContent() == "") {
				document.getElementById('modal-body-val').innerHTML = "<ul><li>Veuillez remplir l'appui spécifique au secteur privé</li><li>Veuillez sélectionner la date de fin</li></ul>"
				return false
			}else if (tinyMCE.get('comment_body').getContent() != "" && debut.value != "" && fin.value != "" && tinyMCE.get('aspsp').getContent() == "") {
				document.getElementById('modal-body-val').innerHTML = "<ul><li>Veuillez remplir l'appui spécifique au secteur privé</li></ul>"
				return false
			}else if (tinyMCE.get('comment_body').getContent() != "" && debut.value == "" && fin.value != "" && tinyMCE.get('aspsp').getContent() != "") {
				document.getElementById('modal-body-val').innerHTML = "<ul><li>Veuillez sélectionner la date de début</li></ul>"
				return false
			}else if (tinyMCE.get('comment_body').getContent() == "" && debut.value != "" && fin.value != "" && tinyMCE.get('aspsp').getContent() == "") {
				document.getElementById('modal-body-val').innerHTML = "<ul><li>Veuillez remplir l'objectif général du projet</li><li>Veuillez remplir l'appui spécifique au secteur privé</li></ul>"
				return false
			}else if (tinyMCE.get('comment_body').getContent() != "" && debut.value == "" && fin.value != "" && tinyMCE.get('aspsp').getContent() == "") {
				document.getElementById('modal-body-val').innerHTML = "<ul><li>Veuillez remplir l'appui spécifique au secteur privé</li><li>Veuillez sélectionner la date de début</li></ul>"
				return false
			}else if (tinyMCE.get('comment_body').getContent() == "" && debut.value != "" && fin.value == "" && tinyMCE.get('aspsp').getContent() != "") {
				document.getElementById('modal-body-val').innerHTML = "<ul><li>Veuillez remplir l'objectif général du projet</li><li>Veuillez sélectionner la date de fin</li></ul>"
				return false
			}else if (tinyMCE.get('comment_body').getContent() == "" && debut.value == "" && fin.value != "" && tinyMCE.get('aspsp').getContent() != "") {
				document.getElementById('modal-body-val').innerHTML = "<ul><li>Veuillez remplir l'objectif général du projet</li><li>Veuillez sélectionner la date de début</li></ul>"
				return false
			}else if (tinyMCE.get('comment_body').getContent() == "" && debut.value == "" && fin.value != "" && tinyMCE.get('aspsp').getContent() == "") {
				document.getElementById('modal-body-val').innerHTML = "<ul><li>Veuillez remplir l'objectif général du projet</li><li>Veuillez remplir l'appui spécifique au secteur privé</li><li>Veuillez sélectionner la date de début</li></ul>"
				return false
			}else if (tinyMCE.get('comment_body').getContent() == "" && debut.value != "" && fin.value == "" && tinyMCE.get('aspsp').getContent() == "") {
				document.getElementById('modal-body-val').innerHTML = "<ul><li>Veuillez remplir l'objectif général du projet</li><li>Veuillez remplir l'appui spécifique au secteur privé</li><li>Veuillez sélectionner la date de fin</li></ul>"
				return false
			}else if (tinyMCE.get('comment_body').getContent() == "" && debut.value != "" && fin.value != "" && tinyMCE.get('aspsp').getContent() != "") {
				document.getElementById('modal-body-val').innerHTML = "<ul><li>Veuillez remplir l'objectif général du projet</li></ul>"
				return false
			}

	}

	function compteurMots(){
		var editor1 = tinymce.get('comment_body');
		var counts = editor1.plugins.wordcount.getCount();
		var editor2 = tinymce.get('aspsp');
		var counts2 = editor2.plugins.wordcount.getCount();

		 if ( counts > 150 && counts2 > 750) {
			document.getElementById('modal-body-val').innerHTML = "<ul><li>L'objectif général du projet est 150mots maximun</li><li>L'appui spécifique au secteur privé est 750 mots maximun</li></ul>"
			document.getElementById("Sauvegarder-publier").disabled = true;
		}else if (counts2 > 750 && counts <= 150) {
			document.getElementById('modal-body-val').innerHTML = "<ul><li>L'appui spécifique au secteur privé est 750 mots maximum</li></ul>"
			document.getElementById("Sauvegarder-publier").disabled = true;
		}else if ( counts > 150 && counts2 <= 750) {
			document.getElementById('modal-body-val').innerHTML = "<ul><li>L'objectif général du projet est 150 mots maximum</li></ul>"
			document.getElementById("Sauvegarder-publier").disabled = true;
		}else if ( counts <= 150 && counts2 <= 750){
			var annule = document.getElementById('Sauvegarder-publier')
			annule.removeAttribute("data-toggle")
			annule.removeAttribute("data-target")
		}
 		//  nom du projet
		var nomError = document.getElementById('nomError')
		if (document.getElementById('nom').value == "") {
			nomError.innerHTML = "<li>Veuillez remplir le nom du projet</li>"
		}else{
			try {
				nomError.removeChild(nomError.childNodes[0]);
			} catch (error) {}
		}
		// PTF
		var ptfError = document.getElementById('ptfError')
		if (document.getElementById('ptf').value == "") {
			document.getElementById('ptfError').innerHTML = "<li>Veuillez sélectionner le nom du PTF</li>"
		}else{
			try{
				ptfError.removeChild(ptfError.childNodes[0]);
			} catch (error) {}
		}
		// nature d'appui natureError
		var natureError = document.getElementById('natureError')
		if (document.getElementById('appui').value == "") {
			document.getElementById('natureError').innerHTML = "<li>Veuillez selectionner la nature de l'appui</li>"
		}else{
			try{
				natureError.removeChild(natureError.childNodes[0]);
			} catch (error) {}
		}
		// partenaire d'implemantation
		var descpartASS1 = document.getElementById("descpartASS1")
		var descpartAUTRE1 = document.getElementById("descpartAUTRE1")
		var descpartCOM1 = document.getElementById("descpartCOM1")
		var descpartONG1 = document.getElementById("descpartONG1")
		var descpartPRI1 = document.getElementById("descpartPRI1")
		var partError = document.getElementById('partError')
		if ( (descpartASS1.type == "text" && descpartASS1.value == "") || (descpartAUTRE1.type == "text" && descpartAUTRE1.value == "") || (descpartCOM1.type == "text" && descpartCOM1.value == "") || (descpartONG1.type == "text" && descpartONG1.value == "") || (descpartPRI1.type == "text" && descpartPRI1.value == "") ) {
			partError.innerHTML = "<li>Veuillez préciser la partenaire d'implémentation</li>"
		} else {
			if ( partError.childNodes.length != 0){
				partError.removeChild(partError.childNodes[0]);
			}
		}
		// SECTTEUR
		var secteurError = document.getElementById('secteurError')
		if ( $('div#test :checkbox:checked').length == 0 ) {
			secteurError.innerHTML = "<li>Veuillez cocher au moins un secteur</li>"
		} else {
			try{
				secteurError.removeChild(secteurError.childNodes[0]);
			} catch (error) {}
		}
		// Forme d'appui
		var formDappuiError = document.getElementById('formDappuiError')
		if ( $('div#formDappui :checkbox:checked').length == 0 ) {
			formDappuiError.innerHTML = "<li>Veuillez cocher au moins un forme d'appui</li>"
			document.getElementById("Sauvegarder-publier").disabled = true;
		} else {
			try {
			formDappuiError.removeChild(formDappuiError.childNodes[0]);
			} catch (error) {
				
			}
		}
		// Beneficiaire benError
		if ( $('div#beneId :checkbox:checked').length == 0 ) {
			benError.innerHTML = "<li>Veuillez cocher au moins une bénéficiaire</li>"
			document.getElementById("Sauvegarder-publier").disabled = true;
		} else {
			try {
			benError.removeChild(benError.childNodes[0]);
			} catch (error) {
				
			}
		}


	}
	function disableBtn(){
		document.getElementById("Sauvegarder-publier").disabled = false;
	}

	function reset(){
		var fin = document.getElementById('selectionFin')
		fin.value = ''
	}
	function resetDebut(){
		var debut = document.getElementById('selectionDebut')
		debut.value = ''
	}


	
	//Autres bénéficiaires
	function ajoutBen(){
		<% 10.times do |x|%>			
			var hid<%= x%> = document.getElementById('valben<%= x%>');
			var p<%= x%> = document.getElementById('p<%= x%>');
		<%end%>
		var val = document.getElementById('inp').value;
		if(hid0.value == "" && val != ""){

			p0.style.display = "block";
			document.getElementById('ben0').innerHTML = val;
			hid0.value = val;
		}
		<% for y in 1..9%>
		else if (hid<%= y%>.value == '' && val != "") {
			p<%= y%>.style.display = "block";
			document.getElementById('ben<%=y%><%=y%>').innerHTML = document.getElementById('inp').value;
			hid<%=y%>.value = document.getElementById('inp').value;
		}
		<%end%>
	}
	document.getElementById("ajout").addEventListener('click',function () {
		ajoutBen();
	}  ); 

//Autre filière associée
	function ajoutfili(){
		<% 10.times do |x|%>			
			var hid<%= x%> = document.getElementById('valfili<%= x%>');
			var p<%= x%> = document.getElementById('a<%= x%>');
		<%end%>
		var val = document.getElementById('fla').value;
		if(hid0.value == "" && val != ""){

			p0.style.display = "block";
			document.getElementById('s0').innerHTML = val;
			hid0.value = val;
		}
		<% for y in 1..9%>
		else if (hid<%= y%>.value == '' && val != "") {
			p<%= y%>.style.display = "block";
			document.getElementById('s<%=y%><%=y%>').innerHTML = document.getElementById('fla').value;
			hid<%=y%>.value = document.getElementById('fla').value;
		}
		<%end%>
	}
	document.getElementById("add").addEventListener('click',function () {
		ajoutfili();
	}  ); 



//Autre Forme
	function ajoutform(){
		<% 10.times do |x|%>			
			var hid<%= x%> = document.getElementById('valform<%= x%>');
			var p<%= x%> = document.getElementById('app<%= x%>');
		<%end%>
		var val = document.getElementById('fo').value;
		if(hid0.value == "" && val != ""){

			p0.style.display = "block";
			document.getElementById('appui0').innerHTML = val;
			hid0.value = val;
		}
		<% for y in 1..9%>
		else if (hid<%= y%>.value == '' && val != "") {
			p<%= y%>.style.display = "block";
			document.getElementById('appui<%=y%><%=y%>').innerHTML = document.getElementById('fo').value;
			hid<%=y%>.value = document.getElementById('fo').value;
		}
		<%end%>
	}
	document.getElementById("addForm").addEventListener('click',function () {
		ajoutform();
	}  ); 





//Autre IGA
	function ajoutiga(){
		<% 10.times do |x|%>			
			var hid<%= x%> = document.getElementById('valiga<%= x%>');
			var p<%= x%> = document.getElementById('pi<%= x%>');
		<%end%>
		var val = document.getElementById('inpiga').value;
		if(hid0.value == "" && val != ""){

			p0.style.display = "block";
			document.getElementById('igaspan0').innerHTML = val;
			hid0.value = val;
		}
		<% for y in 1..9%>
		else if (hid<%= y%>.value == '' && val != "") {
			p<%= y%>.style.display = "block";
			document.getElementById('igaspan<%=y%><%=y%>').innerHTML = document.getElementById('inpiga').value;
			hid<%=y%>.value = document.getElementById('inpiga').value;
		}
		<%end%>
	}
	document.getElementById("ajoutIga").addEventListener('click',function () {
		ajoutiga();
	}  ); 
	function saveMontant(inp) {
		var InputMontantValue1 = document.getElementById('InputMontantValue1');
		var InputMontantValue2 = document.getElementById('InputMontantValue2');
		var InputMontantValue3 = document.getElementById('InputMontantValue3');
		var InputMontantValue4 = document.getElementById('InputMontantValue4');
		var InputMontantValue5 = document.getElementById('InputMontantValue5');
		var InputMontantValue6 = document.getElementById('InputMontantValue6');
		var InputMontantValue7 = document.getElementById('InputMontantValue7');
		var InputMontantValue8 = document.getElementById('InputMontantValue8');
		var InputMontantValue9 = document.getElementById('InputMontantValue9');
		var nbr = inp.value;
		var NombreSaisi = "";
		var NombreSaisiUx = "";
		var arrayNew = [InputMontantValue1, InputMontantValue2, InputMontantValue3, InputMontantValue4, InputMontantValue5, InputMontantValue6, InputMontantValue7, InputMontantValue8, InputMontantValue9]
		for (var i = 0; i < nbr.length; i++) {
				NombreSaisi+= nbr[i];
		}
		inp.value = NombreSaisi;
		// Enlevez les virgules
		for (var n = 0; n < nbr.length; n++) {
			if (nbr[n] != ","){
				NombreSaisiUx+= nbr[n];
			}
		}
		var art = inp.id
		for (var i = 0; i < 9; i++) {
			var arrayNewValue = arrayNew[i].id
			if( art[art.length-1] === arrayNewValue[arrayNewValue.length-1]){
				arrayNew[i].value = NombreSaisiUx
			}
		}
	}
	function InputMontantPicker(inp) {
		var nbr = inp.value;
			var NombreSaisi = "";
			// Enlevez les virgules
			for (var i = 0; i < nbr.length; i++) {
				if (nbr[i] != ","){
					NombreSaisi+= nbr[i];
				}
			}
			if (NombreSaisi.length < 4) {
				inp.value = NombreSaisi
			}
			if (NombreSaisi.length == 4) {
				inp.value = NombreSaisi[0] + "," + NombreSaisi[1] + NombreSaisi[2] + NombreSaisi[3];
			}
			if (NombreSaisi.length == 5) {
				inp.value = NombreSaisi[0] + NombreSaisi[1] + "," + NombreSaisi[2] + NombreSaisi[3] + NombreSaisi[4];
			}
			if (NombreSaisi.length == 6) {
				inp.value = NombreSaisi[0] + NombreSaisi[1] + NombreSaisi[2] + "," + NombreSaisi[3] + NombreSaisi[4] + NombreSaisi[5];
			}
			if (NombreSaisi.length == 7) {
				inp.value = NombreSaisi[0] + "," + NombreSaisi[1] + NombreSaisi[2] + NombreSaisi[3] + "," + NombreSaisi[4] + NombreSaisi[5] + NombreSaisi[6];
			}
			if (NombreSaisi.length == 8) {
				inp.value = NombreSaisi[0] + NombreSaisi[1] + ","  + NombreSaisi[2] + NombreSaisi[3] + NombreSaisi[4] + "," + NombreSaisi[5] + NombreSaisi[6] + NombreSaisi[7];
			}
			if (NombreSaisi.length == 9) {
				inp.value = NombreSaisi[0] + NombreSaisi[1] + NombreSaisi[2] + "," + NombreSaisi[3] + NombreSaisi[4] + NombreSaisi[5] + "," + NombreSaisi[6] + NombreSaisi[7] + NombreSaisi[8];
			}
			if (NombreSaisi.length == 10) {
				inp.value = NombreSaisi[0] + "," + NombreSaisi[1] + NombreSaisi[2] + NombreSaisi[3] + "," + NombreSaisi[4] + NombreSaisi[5] + NombreSaisi[6]+ "," + NombreSaisi[7] + NombreSaisi[8] + NombreSaisi[9];
			}
			if (NombreSaisi.length == 11) {
				inp.value = NombreSaisi[0] + NombreSaisi[1] + ","  + NombreSaisi[2] + NombreSaisi[3] + NombreSaisi[4] + "," + NombreSaisi[5] + NombreSaisi[6] + NombreSaisi[7] + "," + NombreSaisi[8] + NombreSaisi[9] + NombreSaisi[10];
			}
			if (NombreSaisi.length >= 12) {
				inp.value = NombreSaisi[0] + NombreSaisi[1] + NombreSaisi[2] + "," + NombreSaisi[3] + NombreSaisi[4] + NombreSaisi[5] + "," + NombreSaisi[6] + NombreSaisi[7] + NombreSaisi[8] + "," + NombreSaisi[9] + NombreSaisi[10] + NombreSaisi[11];
			}
	}	
	function check(x){
		//Montant par secteur et Filiere par secteur
		    var m = document.getElementById('montant'+x);
		    var inputMontant = document.getElementById('inputMontant'+x);
		    var unite = document.getElementById('unite'+x);
		    if(m.style.display == "flex"){
		        m.style.display = "none";
		        m.classList.remove('row');
		        inputMontant.required = false;
		        unite.required = false;
		    }else{
		        m.style.display = "flex";
		        m.classList.add('row');
		        inputMontant.required = true;
		        unite.required = true;
		    }
		//secteur par filiere
			var filAsso = true;
			var formAsso = true
				
			var secteurChoisi = false;
		    <%Secteur.all.each do |s|%>
				var s<%= s.id %> = document.getElementById('s<%= s.id %>')

				// Si un sécteur est coché, il y a donc un ou plusieurs sécteurs choisi
				if (s<%= s.id %>.checked == true) { 
					secteurChoisi = true;
					<%if s.secteur_filieres.count > 0 %>
						filAsso = false;
					<%end%>
					<%if s.formesecteurs.count > 0 %>
						formAsso = false;
					<%end%>
				}
		    <%end%>


		    if(filAsso == true){
					try {
		    	document.getElementById('filAsso').innerHTML = "Aucune filière associée";	
					} catch (error) {
						
					}
		    }else{
					try {
		    	document.getElementById('filAsso').innerHTML = "Filières associées";
					} catch (error) {
						
					}
		    }



		    // Cacher d'abord tout les filières
				try {
					<% Filiere.all.each do |fili| %>
						document.getElementById('fil'+<%= fili.id%>).style.display = "none";
					<% end %>
				} catch (error) {
					
				}

			// Afficher tous les filières qui correspondent aux sécteurs cochés
			<%Filiere.order(:title).all.each do |fili|%>
				<% fili.secteur_filieres.each do |sf| %>
					var secteur_de_fili = document.getElementById('s<%= sf.secteur.id %>');
					if (secteur_de_fili.checked == true ) {
						document.getElementById('fil'+<%= fili.id%>).style.display = "block";
					}
				<% end %>
			<% end %>

			// décoché les filières si les sécteurs correspondants sont décochés
			<%Filiere.order(:title).all.each do |fili|%>
				var filCheck<%= fili.id %> = document.getElementById('filCheck<%= fili.id %>');
				var unSecteurCoche = false;
				<% fili.secteur_filieres.all.each do |sf| %>
					if (document.getElementById('s<%= sf.secteur.id %>').checked == true) {
						unSecteurCoche = true;
					}
				<% end %>
				if (unSecteurCoche == false) {
					filCheck<%= fili.id %>.checked = false;
				}
			<% end %>


		//Forme d'appui par secteur


		    <%Formesecteur.all.each do |fs|%>
				var fs = document.getElementById('forme'+<%= fs.forme.id%>);
				fs.style.display = "none";
			<%end%>


		    if(formAsso == true){
		    	document.getElementById('formAsso').innerHTML = "Aucune forme d'appui associée";

		    }else{
		    	document.getElementById('formAsso').innerHTML = "Formes d'appui *";
		    }

		    // Cacher d'abord tout les formes d'appui
		    <% Forme.all.each do |f| %>
		    	document.getElementById('form'+<%= f.id%>).style.display = "none";
		    <% end %>

			// Afficher tous les formes d'appui qui correspondent aux sécteurs cochés
			
			<%Forme.order(:title).all.each do |form|%>
			
					
				<% form.formesecteurs.each do |fs| %>
					var secteur_de_form = document.getElementById('s<%= fs.secteur.id %>');
					if (secteur_de_form.checked == true ) {
						document.getElementById('form'+<%= form.id%>).style.display = "block";
						
					}
				<% end %>
			<% end %>

			// décoché les formes d'apui si les sécteurs correspondants sont décochés
			<%Forme.order(:title).all.each do |form|%>
				var formCheck<%= form.id %> = document.getElementById('formCheck<%= form.id %>');
				var unSecteurCoche = false;
				<% form.formesecteurs.all.each do |fs| %>
					if (document.getElementById('s<%= fs.secteur.id %>').checked == true ) {
						unSecteurCoche = true;
					}
				<% end %>
				if (unSecteurCoche == false) {
					formCheck<%= form.id %>.checked = false;
				}
			<% end %>


		  	// Si un ou plusieurs secteur(s) sont cochés
		    if (secteurChoisi == true) {
		    	// ne pas afficher toutes les filières
		    	<%Filiere.order(:title).all.each do |fili|%>
					var fl = document.getElementById('fl'+<%= fili.id%>);
					fl.style.display = "none";
				<%end%>
		    	// ne pas afficher toutes les formes
				<%Forme.order(:title).all.each do |form|%>
				var forme = document.getElementById('forme'+<%= form.id%>);
					forme.style.display = "none";
				<%end%>
			// Si aucun sécteur n'est coché
		    } else{
		    	// Affiche toutes les filieres
			    <%Filiere.order(:title).all.each do |fili|%>
					var fl = document.getElementById('fl'+<%= fili.id%>);
					var fil = document.getElementById('fil'+<%= fili.id%>);
					fl.style.display = "block";
					fil.style.display = "none";
				<%end%>
				// Afficher tous les formes
				<%Forme.order(:title).all.each do |form|%>
				var forme = document.getElementById('forme'+<%= form.id%>);
				var form = document.getElementById('form'+<%= form.id%>);
					forme.style.display = "block";
					form.style.display = "none";
				<%end%>
		    document.getElementById('filAsso').innerHTML = "Filières associées";
		    document.getElementById('formAsso').innerHTML = "Formes d'appui";
		    }

	}


	function partONG(x){
		var p1 = document.getElementById('partONG'+x);
		var d1 = document.getElementById('descpartONG'+x);
		if(p1.checked == true){
			d1.type = "text";
		}else{
			d1.type = "hidden";
		}
	}

	function partASS(x){
		var p2 = document.getElementById('partASS'+x);
		var d2 = document.getElementById('descpartASS'+x);
		if(p2.checked == true){
			d2.type = "text";
		}else{
			d2.type = "hidden";
		}
	}

	function partCOM(x){
		var p3 = document.getElementById('partCOM'+x);
		var d3 = document.getElementById('descpartCOM'+x);
		if(p3.checked == true){
			d3.type = "text";
		}else{
			d3.type = "hidden";
		}
	}

	function partPRI(x){
		var p4 = document.getElementById('partPRI'+x);
		var d4 = document.getElementById('descpartPRI'+x);
		if(p4.checked == true){
			d4.type = "text";
		}else{
			d4.type = "hidden";
		}
	}


	function partAUTRE(x){
		var p5 = document.getElementById('partAUTRE'+x);
		var d5 = document.getElementById('descpartAUTRE'+x);
		if(p5.checked == true){
			d5.type = "text";
		}else{
			d5.type = "hidden";
		}
	}



	function paste(x){
		var limit = document.getElementById('charLimit');
		var limit2 = document.getElementById('charLimit2');
		if(x.length >= 150){
			limit.style.background = "red";
		}else if(x.length >= 300){
			limit2.style.background = "red";
		}
	}

	// Prévenir si la date de fin du projet est antérieur à sa date de début
		var selectionDebut = document.getElementById('selectionDebut');
		var selectionDebutValue = document.getElementById('selectionDebutValue');
		var selectionFin = document.getElementById('selectionFin');
		var selectionFinValue = document.getElementById('selectionFinValue');

		function verificationDate() {			
			if (selectionDebutValue.value != " " && selectionFinValue.value != " " ) {
				var debut = selectionDebutValue.value;
				var compte = debut.length - 1;
				var anneeDebut = parseInt(debut[compte - 3] + debut[compte - 2] + debut[compte - 1] + debut[compte]);
				if (compte = 6) {
					var moisDebut = parseInt(debut[0] + debut[1]);
				}else{
					var moisDebut = parseInt(debut[0]);
				}

				var fin = selectionFinValue.value;
				var compteFin = fin.length - 1;
				var anneeFin = parseInt(fin[compteFin - 3] + fin[compteFin - 2] + fin[compteFin - 1] + fin[compteFin]);
				if (compteFin = 6) {
					var moisFin = parseInt(fin[0] + fin[1]);
				}else{
					var moisFin = parseInt(fin[0]);
				}

				if (anneeFin < anneeDebut && compteFin > 0) {
					selectionFin.value = "";
					selectionFin.style.borderColor = "red";
					selectionFinValue.value = "";
					selectionFin.placeholder = "Fin ne doit pas être antérieure de début";
				}


			}
				if (anneeFin >= anneeDebut) {
					selectionFin.style.borderColor = "#ced4da";

				}
		}



</script>