
<%= form_tag url_for(action: 'update'), method:'patch' do%>
<input type="text" name="nom_du_projet" placeholder="Nom du projet" value="<%= @projet.nom_du_projet%>"><br>
        <h6>PTF : <span><%= @projet.ptf.title%></span></h6>
             <%= select_tag 'ptf_id', options_for_select(Ptf.all.collect{ |c| [c.title, c.id]}), class: "form-input"%><br>

            <h6>DEBUT DU PROJET</h6>
            <input type="date" name="debut_du_projet" placeholder="" value="<%= @projet.debut_du_projet%>"><br>
            <h6>FIN DU PROJET</h6>


            <input type="date" name="fin" placeholder="" value="<%= @projet.fin%>"><br>

			    <h6>MONTANT DU PROJET : <span><%= @projet.montant.price%></span></h6>
					<%= select_tag 'montant_id', options_for_select(Montant.all.collect{ |c| [c.price, c.id]}), class: "form-input"%><br>
					<h6>APPUI : <span><%= @projet.ptf.title%></span></h6>
					<%= select_tag 'appui_id', options_for_select(Appui.all.collect{ |c| [c.title, c.id]}), class: "form-input"%><br>
			      <h6>SECTEURS</h6>
			       <% @projet.secteurprojets.each do |s|%>
		        	<p><%= s.secteur.title%></p>
		        	<%end%>
					<ul>
						<input type="hidden" name="sects" value="<%= @sects%>">

						 <% Secteur.all.each_with_index do |c,x| %><br> 
						 <% if @sects.include? c %>

						   <%= check_box_tag("secteur_#{x}",c.id, checked: true) %>

						 <%else%>
						 	<%= check_box_tag("secteur_#{x}",c.id) %>
						 <%end%>
						   <%= c.title%> 

						<% end %>
					</ul>
					<h6>FILIERE</h6>
					<ul>
						 <% Filiere.all.each do |c| %><br>
						  <%= check_box_tag("filiere_ids[]",c.id) %>
						  <%= c.title%>
						<% end %>
					</ul>
					
					<h6>BENEFICIAIRE</h6>
					<ul>
						 <% Beneficiaire.all.each do |c| %><br>
						  <%= check_box_tag("beneficiare_ids[]",c.id) %>
						  <%= c.title%>
						<% end %>
					</ul>			        
        
					<h6>IGA(institution gouvernemental associé)</h6>
			  		<ul>
						 <% Iga.all.each do |c| %><br>
						 <%= check_box_tag("iga_ids[]",c.id) %>
						  <%= c.title%>
						<% end %>
					</ul>
					<h6>ZONE D'INTERVENTION</h6>
					<ul>
						 <% Zone.all.each do |c| %><br>
						 <%= check_box_tag("zone_ids[]",c.id) %>
						  <%= c.title%>
						<% end %>
					</ul>
			<input type="submit" value="Modifier">
<%end%>
