<div class="sans-head container">
	<div class="text-center text-muted mt-4 mb-4 ">
		<h3 class="table"> Mes projets </h3>
	</div>
	<div class="d-flex justify-content-center flex-wrap">
		<% @projets.each do |p|%>
			<div class="col-sm-4 mb-3">
				<div class="card">
					<div class="card-body">
						<p>							
						<%if p.validation == false && p.revalid == false%>
								<span class="badge badge-info">En attente de validation</span>	
							<%elsif p.validation == nil && p.rejet == false%>
								<span class="badge badge-warning">Non publié<span>
							<%elsif p.revalid == true%>
								<span class="badge badge-dark">En attente de revalidation</span>
							<%elsif p.rejet == true%>
								<span class="badge badge-danger">Rejeté</span>	
						<%else%>
							<span class=" badge badge-primary badgetext-white">Publié<span>
						<%end%>
						</p>
						<h5 class="card-title"><%= p.nom_du_projet.truncate(40) %></h5>
						<p class="card-text"><%= raw p.objectif_generale_du_projet.truncate(100)%></p>
						<p><a href="<%= admin_projet_path(p.id)%>" class="btn btn-success">Voir</a>
						</p>	
					</div>
				</div>
			</div>
		<%end%>
	</div>
	<div class="text-center">
		<%= paginate @projets %>
	</div>
	<div style="margin-top: 3%; margin-bottom: 3%;">
		<a href="<%= new_admin_projet_path%>" class="btn btn-bg-primary rounded-0 text-white btn-lg btn-block">Créer un projet</a>
	</div>
</div>