<header class="aci59a-0 eyAIuG sticky-limit">
    <div class="sc-1gnwgfb-2 hVIPFV">
      
    </div>
</header>
<div class="mt-4 mb-4">
	<%= form_tag url_for(action: 'create'),method:'post', class:'form', multipart: true do%>
		<div class="container">
			<div class=" row mb-2">
				<div class="col-6">
					<div>
						<label for="nom" class="mr-2 table">Nom du projet </label>
					</div>
					<input type="text" name="nom_du_projet" id="nom" placeholder="Nom du projet" class="form-control" required="true">
				</div>
			</div>
		</div>
		<div class="container mb-2">
			<a class="table">
				Objectif général du projet
			</a>
			<div class="mt-2">
				<div class="card card-body">
					<%=cktext_area_tag :objectif_generale_du_projet%>
				</div>
			</div>
		</div>
		<div class="container mb-2">
			<a class="table">
				Appui spécifique au secteur privé
			</a>
			<div class="mt-2">
				<div class="card card-body">
				<%=cktext_area_tag :aspsp%>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="d-flex justify-content-between mb-3">
				<div class="col-md-4 pl-0">
					<h6 class="table">Début</h6>
					  <div class="ui calendar" id="example7">
					    <div class="ui input left icon w-100">
					      <i class="time icon"></i>
							<input type="text" name="debut_du_projet" class="form-control" placeholder="MM/YY" required="true">
					    </div>
					  </div>
				</div>
				<div class="col-md-4">
					<h6 class="table">Fin</h6>
				    <div class="ui calendar" id="example">
					    <div class="ui input left icon">
					      <i class="time icon"></i>
					      <input type="text" name="fin" class="form-control" placeholder="MM/YY" required="true">
					    </div>
					</div>
				</div>
				<div class="col-md-4 pr-0">
					<h6 class="table">Montant pour le secteur :</h6>
					<% Secteur.all.each do |s|%>
						<div class="form-control pr-0" id="montant<%=s.id%>" style="display: none;">
							<input type="text" name="montant<%= s.id%>" placeholder="<%= s.title%>" class="border-0">
							<%= select_tag "unite_id#{s.id}", options_for_select(Unite.all.order(:nom).collect{ |c| [c.nom, c.id] }), :include_blank => "choisir", class: "text-center border-left unit pl-2 btn-reset"%>
						</div>
					<%end%>
				</div>
			</div>
		</div>

		<div class="container">
			<div class=" row mb-2">
				<div class="col-6">
					<h6 class="table">Partenaire Technique Financier</h6>
					<%= select_tag 'ptf', options_for_select(Ptf.all.order(:title).collect{ |c| [c.title, c.id] }), :include_blank => "choisir", class: "form-control"%>
				</div>
				<div class="col-6">
					<h6 class="table">Nature de l'appui</h6>
					<%= select_tag 'appui', options_for_select(Appui.all.order(:title).collect{ |c| [c.title, c.id] }), :include_blank => "choisir", class: "form-control"%>
					
				</div>
					
			</div>
		</div>


		<div class="container mb-2">
			<a class="table">
				Secteurs
			</a>
				<div class="mt-2">
				<div class="card card-body">
					<div class="row">
						<% Secteur.all.order(:title).each do |c| %>
							<div class="col-md-4">
								<%= check_box_tag("secteur_ids[]",c.id, false, id: :"s#{c.id}",:onclick => "check(#{c.id})")%>
								<%= c.title%>
							</div> 
						<% end %>
					</div>
				</div>
				</div>
			<h6 class="table">Montant pour le secteur :</h6>
				<% Secteur.all.each do |s|%>
					<div class="form-control" id="montant<%=s.id%>" style="display: none;">
						<input type="text" name="montant<%= s.id%>" placeholder="<%= s.title%>" class="border-0">
						<%= select_tag "unite_id#{s.id}", options_for_select(Unite.all.order(:nom).collect{ |c| [c.nom, c.id] }), :include_blank => "choisir", class: "border-left unit dropdown-toggle pl-2"%>
					</div>

				<%end%>
		</div>


			<script type="text/javascript">
				function check(x){
					var m = document.getElementById('montant'+x);
					if(m.style.display == "block"){
						m.style.display = "none";
						m.classList.remove('d-flex');
					}else{
						m.style.display = "block";
						m.classList.add('d-flex');
					}
				}

			</script>

			<div class="container mb-2 mt-2">
			<a class="table">
				Filières
			</a>
				<div class="mt-2">
				<div class="card card-body">
					<div class="row">
						<% Filiere.all.order(:title).each do |c| %>
							<div class="col-md-4">
								<%= check_box_tag("filiere_ids[]",c.id)%>
								<%= c.title%>
							</div>
						<% end %>
					</div>
				</div>
				</div>
			</div>

			<div class="container mb-2">
				<a class="table">
					Bénéficiaires
				</a>
				<div class="mt-2">
					<div class="card card-body">
						<div class="row">
							<% Beneficiaire.all.order(:title).each do |c| %>
								<div class="col-md-4">
									<%= check_box_tag("beneficiaire_ids[]",c.id) %>
									<%= c.title%>
								</div>
							<% end %>
						</div>
						<div class="mt-2">
					<button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#atr"> Autre</button><br>
							
						</div>
					<div class="collapse" id="atr">
						<div class="container">
							<div class="row">
								
									<div class="col-md-5" style="text-align: center;">
										<h6>Ajout de nouveau bénéficiaire</h6>
								    	<input type="text" name="newben" size=15 placeholder="nouveau bénéficiaire" class="form-control" id="inp"><br>	
								    	<input type="button" class="sc-eerKOB cfnPHQ" value="Ajouter" id="ajout">			
									</div>
									

									<div class="col-md-7">
										<h6 style="text-align: center;">Le(s) nouveau(x) bénéficiaire(s) </h6>
										<% 10.times do |b|%>
									    	<div id="check<%= b%>" style="display: block;">
												<p id="p<%= b%>" style="display: none;">
													<%= check_box_tag("checkben#{b}", :id => "c#{b}") %>
													<span id="s<%= b%>"></span>	
													<span id="s1<%= b%>"></span>	
													<span id="s2<%= b%>"></span>	
													<span id="s3<%= b%>"></span>	
													<span id="s4<%= b%>"></span>	
													<span id="s5<%= b%>"></span>	
													<span id="s6<%= b%>"></span>	
													<span id="s7<%= b%>"></span>	
													<span id="s8<%= b%>"></span>	
													<span id="s9<%= b%>"></span>	
													<input type="hidden" name="valben<%= b%>" id="valben<%= b%>">	
												</p>								
											</div>
									    <%end%>
									</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		function ajoutBen(){
			<% 10.times do |x|%>			
				var hid<%= x%> = document.getElementById('valben<%= x%>');
				var p<%= x%> = document.getElementById('p<%= x%>');
			<%end%>
			var val = document.getElementById('inp').value;
			if(hid0.value == "" && val != ""){

				p0.style.display = "block";
				document.getElementById('s0').innerHTML = val;
				hid0.value = val;
			}
			<% for y in 1..9%>
			else if (hid<%= y%>.value == '' && val != "") {
				p<%= y%>.style.display = "block";
				document.getElementById('s<%=y%><%=y%>').innerHTML = document.getElementById('inp').value;
				hid<%=y%>.value = document.getElementById('inp').value;
			}
			<%end%>
		}
		document.getElementById("ajout").addEventListener('click',function ()
			{
			    ajoutBen();
			   }  ); 
	</script>

			
		<div class="container mb-2">
			<a class="table">
				Institution Gouvernementale Associée
			</a>
			<div  class="mt-2">
				<div class="card card-body">
					<div class="row">
						<% Iga.all.order(:title).each do |c| %>
							<div class="col-md-12">
								<%= check_box_tag("iga_ids[]",c.id) %>
								<%= c.title%>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class="container mb-2">
			<a class="table">
				Alignement aux priorités du Plan Emergence de Madagascar
			</a>
				<div class="mt-2">
				<div class="card card-body">
					<div class="row">
						<%Engagement.all.order(:id).each do |c| %>
							<div class="col-md-12">
								<p class="mt-2 mb-0">
									<%= c.title%> 
								</p>
								<%c.pems.each do |p|%>
								<div class="ml-4">
									<%=check_box_tag("pem_ids[]",p.id) %> 
									<%= p.title %>
								</div>
								<%end%>
							</div>
						<% end %>
					</div>
				</div>
				</div>
			</div>
		<div class="container mb-2">
			<a class="table">
				Régions
			</a>
			<div class="mt-2">
				<div class="card card-body">
					<div class="row">
						<% Zone.all.each do |c| %>
							<div class="col-md-4">
								<%= check_box_tag("zone_ids[]",c.id) %>
								<%= c.title%>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class="container mb-2 mt-4">
			Documents du projet : <%= file_field_tag :files,name:"files[]", required: true, multiple: true%>
			
		</div>
		<div class="container mb-2 mt-4">
			<p><span>Site web :</span><input type="text" name="site" class="form-control"></p>
		</div>
		<div class="container mb-2 mt-4">
			<label for="comment">Commentaire :</label>
			<textarea name="comment" class="form-control"  rows="5" placeholder="Commentaire qui s'adresse à l'administrateur"></textarea>
			
		</div>
		<div class="container mt-4">
			<%= submit_tag :creer, :name => "creer", :value => "Enregistrer", :class => "btn btn-secondary"%>
			<%= submit_tag :creer, :name => "creer", :value => "Publier", :class => "sc-eerKOB cfnPHQ"%>
			<!-- <input type="submit" name="creer" value="Enregistrer" class="btn btn-secondary">
			<input type="submit" name="creer" value="Publier" class="sc-eerKOB cfnPHQ"> -->
			
		</div>
	<% end %>
</div>
<script type="text/javascript">
    $('#example7').calendar({
      type: 'month'
    });
    $('#example').calendar({
      type: 'month'
    });
</script>