<header class="aci59a-0 eyAIuG sticky-limit">
    <div class="sc-1gnwgfb-2 hVIPFV">
      
    </div>
</header>
<div class="mt-4 mb-4">
	<%= form_tag url_for(action: 'create'),method:'post', class:'form', multipart: true do%>
		<div class="container">
			<div class="row mb-2">
				<div class="col-6">
					<div>
						<label for="nom" class="mr-2 table">Nom du projet </label>
					</div>
					<input type="text" name="nom_du_projet" id="nom" placeholder="Nom du projet" class="form-control" required="true">
				</div>
			</div>
			<div class="d-flex justify-content-between mb-3">
				<div>
					<h6 class="table">PTF</h6>
					<%= select_tag 'ptf_id', options_for_select(Ptf.all.order(:title).collect{ |c| [c.title, c.id] }), :include_blank => "choisir", class: "form-control"%>
				</div>
				<div>
					<h6 class="table">Début</h6>
					<input type="date" name="debut_du_projet" class="form-control" required="true">
				</div>
				<div>
					<h6 class="table">Fin</h6>
					<input type="date" name="fin" class="form-control" required="true">
				</div>
				<div>
					<h6 class="table">Montant</h6>
					<input name="montant" type = "range" min="0" max="100" onchange="rangevalue.value=value"/>
                  	<div><output id="rangevalue">50</output><span> Millions USD</span></div>
                  	
                  		<%= select_tag 'montant_id', options_for_select(Montant.all.collect{ |c| [c.unite, c.id] }), :include_blank => "unité", class: "form-control"%>
				</div>
				<div>
					<h6 class="table">Appui</h6>
					<%= select_tag 'appui_id', options_for_select(Appui.all.order(:title).collect{ |c| [c.title, c.id] }), :include_blank => "choisir", class: "form-control"%>
				</div>
			</div>
		</div>

		<div class="container mb-2">
			<a class="btn-col" data-toggle="collapse" href="#secteur" role="button" aria-expanded="false" aria-controls="collapseExample">
				Secteurs
			</a>
				<div class="collapse" id="secteur">
				<div class="card card-body">
					<div class="row">
						<% Secteur.all.order(:title).each do |c| %>
							<div class="col-md-4">
								<%= check_box_tag("secteur_ids[]",c.id) %>
								<%= c.title%>
							</div> 
						<% end %>
					</div>
				</div>
				</div>
			</div>

			<div class="container mb-2">
			<a class="btn-col" data-toggle="collapse" href="#filiere" role="button" aria-expanded="false" aria-controls="collapseExample">
				Filières
			</a>
				<div class="collapse" id="filiere">
				<div class="card card-body">
					<div class="row">
						<% Filiere.all.order(:title).each do |c| %>
							<div class="col-md-3">
								<%= check_box_tag("filiere_ids[]",c.id)%>
								<%= c.title%>
							</div>
						<% end %>
					</div>
				</div>
				</div>
			</div>

			<div class="container mb-2">
				<a class="btn-col" data-toggle="collapse" href="#Beneficiaire" role="button" aria-expanded="false" aria-controls="collapseExample">
					Bénéficiaires
				</a>
				<div class="collapse" id="Beneficiaire">
					<div class="card card-body">
						<div class="row">
							<% Beneficiaire.all.order(:title).each do |c| %>
								<div class="col-md-4">
									<%= check_box_tag("beneficiaire_ids[]",c.id) %>
									<%= c.title%>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		<div class="container mb-2">
			<a class="btn-col" data-toggle="collapse" href="#iga" role="button" aria-expanded="false" aria-controls="collapseExample">
				IGA (Institution Gouvernementale Associée)
			</a>
			<div class="collapse" id="iga">
				<div class="card card-body">
					<div class="row">
						<% Iga.all.order(:title).each do |c| %>
							<div class="col-md-12">
								<%= check_box_tag("iga_ids[]",c.id) %>
								<%= c.title%>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class="container mb-2">
			<a class="btn-col" data-toggle="collapse" href="#engagement" role="button" aria-expanded="false" aria-controls="collapseExample">
				PEM(Alignement aux priorites du plan emergence de madagascar)
			</a>
				<div class="collapse" id="engagement">
				<div class="card card-body">
					<div class="row">
						<%id = 0 %>
						<%Engagement.all.order(:title).each do |c| %>
							<div class="col-md-12">
								<div data-toggle="modal" data-target="#eng<%= id %>">
									<%= c.title%> 
								</div>
								<div  id="eng<%= id %>"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
										  <div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel"><%= c.title%> </h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											  <span aria-hidden="true">&times;</span>
											</button>
										  </div>
										  <div class="modal-body">
											<%c.pems.each do |p|%>
											<p>
												<%=check_box_tag("pem_ids[]",p.id) %> 
												<%= p.title %>
											</p>
											<%end%>
										  </div>
										  <div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
										  </div>
										</div>
									  </div>
								</div>
							</div>
						<% end %>
					</div>
				</div>
				</div>
			</div>
		<div class="container mb-2">
			<a class="btn-col" data-toggle="collapse" href="#zi" role="button" aria-expanded="false" aria-controls="collapseExample">
				Régions
			</a>
			<div class="collapse" id="zi">
				<div class="card card-body">
					<div class="row">
						<% Zone.all.order(:title).each do |c| %>
							<div class="col-md-4">
								<%= check_box_tag("zone_ids[]",c.id) %>
								<%= c.title%>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class="container mb-2">
			<a class="btn-col">
				Objectif général du projet
			</a>
			<div class="collapse">
				<div class="card card-body">
					<%=cktext_area_tag :objectif_generale_du_projet%>
				</div>
			</div>
		</div>
		<div class="container mb-2">
			<a class="btn-col" data-toggle="collapse" href="#appui-specifique" role="button" aria-expanded="false" aria-controls="collapseExample">
				Appui spécifique au secteur privé
			</a>
			<div class="collapse" id="appui-specifique">
				<div class="card card-body">
				<%=cktext_area_tag :aspsp%>
				</div>
			</div>
		</div>
		<div class="container mb-2 mt-4">
			Fichier du projet : <%= file_field_tag :files, required: true, multiple: true%>
			
		</div>
		<div class=" container mb-2 mt-4 picture">
			Photo du projet : <%= file_field_tag :picture, required: true%>
		</div>
		<div class="container mt-4">
			<input type="submit" value="Créer" class="sc-eerKOB cfnPHQ">
			<a href="#" onclick="nbr()">Limiter</a>
		</div>
	<% end %>
</div>

<script type="text/javascript">
	
	var element
    element = CKEDITOR.document.find('.obj');
    console.log('test');
    var xxx = document.getElementById("cke_1_contents");
    console.log(xxx);
</script>