<header class="aci59a-0 eyAIuG sticky-limit">
    <div class="sc-1gnwgfb-2 hVIPFV">
      
    </div>
</header>
<div class="mt-4 mb-4">
	<%= form_tag url_for(action: 'create'),method:'post', class:'form', multipart: true do%>
		<div class="container">
			<div class=" row mb-2">
				<div class="col-6">
					<div>
						<label for="nom" class="mr-2 table">Nom du projet </label>
					</div>
					<input type="text" name="nom_du_projet" id="nom" placeholder="Nom du projet" class="form-control" required="true">
				</div>
			</div>
		</div>
		<div class="container mb-2">
			<a class="table">
				Objectif général du projet
			</a>
			<div class="mt-2">
				<div class="card card-body">
					<%=cktext_area_tag :objectif_generale_du_projet%>
				</div>
			</div>
		</div>
		<div class="container mb-2">
			<a class="table">
				Appui spécifique au secteur privé
			</a>
			<div class="mt-2">
				<div class="card card-body">
				<%=cktext_area_tag :aspsp%>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="d-flex justify-content-between mb-3">
				<div>
					<h6 class="table">Début</h6>
					<input type="date" name="debut_du_projet" class="form-control" required="true">
				</div>
				<div>
					<h6 class="table">Fin</h6>
					<input type="date" name="fin" class="form-control" required="true">
				</div>
				<div>
					<h6 class="table">Montant pour le secteur :</h6>
					<% Secteur.all.each do |s|%>
						<div class="form-control" id="montant<%=s.id%>" style="display: none;">
							<input type="text" name="montant<%= s.id%>" placeholder="<%= s.title%>" class="border-0">
							<%= select_tag "unite_id#{s.id}", options_for_select(Unite.all.order(:nom).collect{ |c| [c.nom, c.id] }), :include_blank => "choisir", class: "border-left unit dropdown-toggle pl-2"%>
						</div>

					<%end%>
				</div>
			</div>
		</div>

		<div class="container mb-2">
			<a class="table">
				Secteurs
			</a>
				<div class="mt-2">
				<div class="card card-body">
					<div class="row">
						<% Secteur.all.order(:title).each do |c| %>
							<div class="col-md-4">
								<%= check_box_tag("secteur_ids[]",c.id, false, id: :"s#{c.id}",:onclick => "check(#{c.id})")%>
								<%= c.title%>
							</div> 
						<% end %>
					</div>
				</div>
				</div>
			</div>

			<script type="text/javascript">
				function check(x){
					var m = document.getElementById('montant'+x);
					if(m.style.display == "block"){
						m.style.display = "none";
						m.classList.remove('d-flex');
					}else{
						m.style.display = "block";
						m.classList.add('d-flex');
					}
				}

			</script>
			<div class="container">
				<h6 class="table">Appui</h6>
				<%= select_tag 'appui', options_for_select(Appui.all.order(:title).collect{ |c| [c.title, c.id] }), :include_blank => "choisir", class: "form-control"%>
			</div>

			<div class="container mb-2 mt-2">
			<a class="table">
				Filières
			</a>
				<div class="mt-2">
				<div class="card card-body">
					<div class="row">
						<% Filiere.all.order(:title).each do |c| %>
							<div class="col-md-4">
								<%= check_box_tag("filiere_ids[]",c.id)%>
								<%= c.title%>
							</div>
						<% end %>
					</div>
				</div>
				</div>
			</div>

			<div class="container mb-2">
				<a class="table">
					Bénéficiaires
				</a>
				<div class="mt-2">
					<div class="card card-body">
						<div class="row">
							<% Beneficiaire.all.order(:title).each do |c| %>
								<div class="col-md-4">
									<%= check_box_tag("beneficiaire_ids[]",c.id) %>
									<%= c.title%>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		<div class="container mb-2">
			<a class="table">
				Institution Gouvernementale Associée
			</a>
			<div  class="mt-2">
				<div class="card card-body">
					<div class="row">
						<% Iga.all.order(:title).each do |c| %>
							<div class="col-md-12">
								<%= check_box_tag("iga_ids[]",c.id) %>
								<%= c.title%>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class="container mb-2">
			<a class="table">
				Alignement aux priorités du Plan Emergence de Madagascar
			</a>
				<div class="mt-2">
				<div class="card card-body">
					<div class="row">
						<%Engagement.all.order(:id).each do |c| %>
							<div class="col-md-12">
								<p class="mt-2 mb-0">
									<%= c.title%> 
								</p>
								<%c.pems.each do |p|%>
								<div class="ml-4">
									<%=check_box_tag("pem_ids[]",p.id) %> 
									<%= p.title %>
								</div>
								<%end%>
							</div>
						<% end %>
					</div>
				</div>
				</div>
			</div>
		<div class="container mb-2">
			<a class="table">
				Régions
			</a>
			<div class="mt-2">
				<div class="card card-body">
					<div class="row">
						<% Zone.all.order(:title).each do |c| %>
							<div class="col-md-4">
								<%= check_box_tag("zone_ids[]",c.id) %>
								<%= c.title%>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class="container mb-2 mt-4">
			Documents du projet : <%= file_field_tag :files, required: true, multiple: true%>
			
		</div>
		<div class="container mt-4">
			<%= submit_tag :creer, :value => "Enregistrer", :class => "btn btn-secondary"%>
			<%= submit_tag :creer, :value => "Publier", :class => "sc-eerKOB cfnPHQ"%>
			<!-- <input type="submit" name="creer" value="Enregistrer" class="btn btn-secondary">
			<input type="submit" name="creer" value="Publier" class="sc-eerKOB cfnPHQ"> -->
			
		</div>
	<% end %>
</div>