<header class="aci59a-0 eyAIuG sticky-limit">
    <div class="sc-1gnwgfb-2 hVIPFV">
    </div>
</header>
<%= form_tag url_for(action: 'create'),method:'post', class:'form', multipart: true do%>
	<div class="mt-4 mb-4">
		<div class="container">
			<div class=" row mb-2">
				<div class="col-6">
					<div>
						<label for="nom" class="mr-2 table">Nom du projet </label>
					</div>
					<input type="text" name="nom_du_projet" id="nom" placeholder="Nom du projet" class="form-control" required="true">
				</div>
			</div>
		</div>
		<div class="container mb-2">
			<a class="table">
				Objectif général du projet
			</a>
			<div class="mt-2">
				<div class="card card-body">
					<textarea name="objectif_generale_du_projet" rows="10" id="comment_body" class="form-control p-2" onkeyup="checkWordLen(this);" required></textarea>
					<span id="charlimit"><strong class="words-left">150 mots maximum</strong></span>
				</div>
			</div>
		</div>
		<div class="container mb-2">
			<a class="table">
				Appui spécifique au secteur privé
			</a>
			<div class="mt-2">
				<div class="card card-body">
					<textarea name="aspsp" rows="10" required id="aspsp" class="form-control p-2"></textarea>
				</div>
			</div>
		</div>

		<div class="container">
			<div class=" row mb-2">
				<div class="col-6">
					<h6 class="table">Partenaire Technique Financier</h6>
					<%= select_tag 'ptf', options_for_select(Ptf.all.order(:title).collect{ |c| [c.title, c.id] }), :include_blank => "choisir", class: "form-control"%>
				</div>
				<div class="col-6">
					<h6 class="table">Nature de l'appui</h6>
					<%= select_tag 'appui', options_for_select(Appui.all.order(:title).collect{ |c| [c.title, c.id] }), :include_blank => "choisir", class: "form-control"%>
					
				</div>
					
			</div>
		</div>


		<div class="container mb-2">
			<a class="table">
				Partenaires d'implémentations
			</a>
				<div class="mt-2">
				<div class="card card-body">
					<div class="row">
						<% for x in 1..2%>
							<div class="col-md-6">
								<input type="checkbox" name="partONG<%= x %>" id="partONG<%= x %>" onclick="partONG(<%= x%>);">
								<label for="partONG">ONG</label>
								<input type="hidden" name="desc_partONG<%= x %>" placeholder="A préciser" class="pl-2 pr-2 form-control" id="descpartONG<%= x %>">
							</div>
						<% end %>

						<% for x in 1..2%>
							<div class="col-md-6">
								<input type="checkbox" name="partASS<%= x %>" id="partASS<%= x%>" onclick="partASS(<%= x%>);">
								<label for="partASS<%= x%>">Association</label>
								<input type="hidden" name="desc_partASS<%= x %>" placeholder="A préciser" class="pl-2 pr-2 form-control" id="descpartASS<%= x %>">
							</div>
						<% end %>

						<% for x in 1..2%>
							<div class="col-md-6">
								<input type="checkbox" name="partCOM<%= x %>" id="partCOM<%= x%>" onclick="partCOM(<%= x%>);">
								<label for="partCOM<%= x%>">Chambre de commerce</label>
								<input type="hidden" name="desc_partCOM<%= x %>" placeholder="A préciser" class="pl-2 pr-2 form-control" id="descpartCOM<%= x %>">
							</div>
						<% end %>

						<% for x in 1..2%>
							<div class="col-md-6">
								<input type="checkbox" name="partPRI<%= x %>" id="partPRI<%= x%>" onclick="partPRI(<%= x%>);">
								<label for="partPRI<%= x%>">Secteur Privé</label>
								<input type="hidden" name="desc_partPRI<%= x %>" class="pl-2 pr-2 form-control" placeholder="A préciser" id="descpartPRI<%= x %>">
							</div>
						<% end %>
						<% for x in 1..2%>
							<div class="col-md-6 d-flex align-items-center">
								<input type="checkbox" name="partAUTRE<%= x %>" id="partAUTRE<%= x%>" onclick="partAUTRE(<%= x%>);">
								<input type="text" name="plat_partAUTRE<%= x%>" placeholder="Autres" class="ml-2 pl-2 pr-2 form-control">
								<input type="hidden" name="desc_partAUTRE<%= x %>" placeholder="A préciser" id="descpartAUTRE<%= x %>">
							</div>
						<% end %>


					
					</div>
				</div>
				</div>
		</div>


		<div class="container mb-2">
			<a class="table">
				Secteurs
			</a>
				<div class="mt-2">
				<div class="card card-body">
					<div class="row">
						<% Secteur.all.order(:title).each do |c| %>
							<div class="col-md-4">
								<%= check_box_tag("secteur_ids[]",c.id, false, id: :"s#{c.id}",:onclick => "check(#{c.id})")%>
								<%= c.title%>
							</div> 
						<% end %>
					</div>
				</div>
				</div>
		</div>
		<div class="container">
			<div class="d-flex justify-content-between mb-3">
				<div class="col-md-4 pl-0">
					<h6 class="table">Montant pour le secteur :</h6>
					<% Secteur.all.each do |s|%>
						<div class="form-control pr-0" id="montant<%=s.id%>" style="display: none;">
							<input type="text" name="montant<%= s.id%>" placeholder="<%= s.title%>" class="border-0">
							<%= select_tag "unite_id#{s.id}", options_for_select(Unite.all.order(:nom).collect{ |c| [c.nom, c.id] }), :include_blank => "choisir", class: "text-center border-left unit pl-2 btn-reset"%>
						</div>
					<%end%>
				</div>
				<div class="col-md-4">
					<h6 class="table">Début</h6>
					<input type="text" id="selectionDebut" placeholder="mm/aaaa" class="form-control" required="true">
					<input type="hidden" id="selectionDebutValue" placeholder="mm/aaaa" class="form-control" required="true" name="debut_du_projet">
				</div>
				<div class="col-md-4 pr-0">			
					<h6 class="table">Fin</h6>
					<input type="text" class="form-control" placeholder="mm/aaaa" required="true" id="selectionFin">
					<input type="hidden" name="fin" id="selectionFinValue" class="form-control" placeholder="mm/aaaa" required="true" name="fin">
				</div>
			</div>
		</div>
			<div class="container mb-2 mt-2">
			<a class="table">
				Filières
			</a>
				<div class="mt-2">
				<div class="card card-body">
					<div class="row">
						<%Filiere.order(:title).all.each do |fili|%>
							<div class="col-md-4" style="display: none" id="fil<%= fili.id%>">
								<%= check_box_tag("filiere_ids[]", fili.id)%>
								<%= fili.title%>
							</div>
							<div class="col-md-4" style="display: block" id="fl<%= fili.id%>">
								<%= check_box_tag("filiere_ids[]", fili.id)%>
								<%= fili.title%>
							</div>
						<% end %>
					</div>

				</div>
				</div>
			</div>

			<div class="container mb-2 mt-2">
			<a class="table">
				Forme d'appui
			</a>
				<div class="mt-2">
				<div class="card card-body">
					<div class="row">
						<%Forme.order(:title).all.each do |form|%>
							<div class="col-md-6" style="display: none" id="form<%= form.id%>">
								<%= check_box_tag("forme_ids[]", form.id,)%>
								<%= form.title%>
							</div>
							<div class="col-md-6" style="display: block" id="forme<%= form.id%>">
								<%= check_box_tag("forme_ids[]", form.id,)%>
								<%= form.title%>
							</div>
						<% end %>
					</div>
				</div>
				</div>
			</div>

			<div class="container mb-2">
				<a class="table">
					Bénéficiaires
				</a>
				<div class="mt-2">
					<div class="card card-body">
						<div class="row">
							<% Beneficiaire.all.order(:title).each do |c| %>
								<div class="col-md-6">
									<%= check_box_tag("beneficiaire_ids[]",c.id) %>
									<%= c.title%>
								</div>
							<% end %>
						</div>
						<div class="mt-2">
							<button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#atr"> Autre</button><br>
							
						</div>
					<div class="collapse" id="atr">
						<div class="container">
							<div class="row">
								<div class="col-md-5" style="text-align: center;">
									<h6>Ajout d'un nouveau bénéficiaire</h6>
							    	<input type="text" name="newben" size=15 placeholder="nouveau bénéficiaire" class="form-control" id="inp"><br>	
							    	<input type="button" class="sc-eerKOB cfnPHQ" value="Ajouter" id="ajout">			
								</div>
								<div class="col-md-7">
										<h6 style="text-align: center;">Le nouveau bénéficiaire doit être coché</h6>
									<% 10.times do |b|%>
								    	<div id="check<%= b%>" style="display: block;">
											<p id="p<%= b%>" style="display: none;">
												<%= check_box_tag("checkben#{b}", :id => "c#{b}") %>
												<span id="s<%= b%>"></span>	
												<span id="s1<%= b%>"></span>	
												<span id="s2<%= b%>"></span>	
												<span id="s3<%= b%>"></span>	
												<span id="s4<%= b%>"></span>	
												<span id="s5<%= b%>"></span>	
												<span id="s6<%= b%>"></span>	
												<span id="s7<%= b%>"></span>	
												<span id="s8<%= b%>"></span>	
												<span id="s9<%= b%>"></span>	
												<input type="hidden" name="valben<%= b%>" id="valben<%= b%>">	
											</p>								
										</div>
								    <%end%>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

			
		<div class="container mb-2">
			<a class="table">
				Institution Gouvernementale Associée
			</a>
			<div  class="mt-2">
				<div class="card card-body">
					<div class="row">
						<% Iga.all.order(:title).each do |c| %>
							<div class="col-md-12">
								<%= check_box_tag("iga_ids[]",c.id, false) %>
								<%= c.title%>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class="container mb-2">
			<a class="table">
				Alignement aux priorités du Plan Emergence de Madagascar
			</a>
				<div class="mt-2">
				<div class="card card-body">
					<div class="row">
						<%Engagement.all.order(:id).each do |c| %>
							<div class="col-md-12">
								<p class="mt-2 mb-0">
									<%= c.title%> 
								</p>
								<%c.pems.each do |p|%>
								<div class="ml-4">
									<%=check_box_tag("pem_ids[]",p.id) %> 
									<%= p.title %>
								</div>
								<%end%>
							</div>
						<% end %>
					</div>
				</div>
				</div>
			</div>
		<div class="container mb-2">
			<a class="table">
				Régions
			</a>
			<div class="mt-2">
				<div class="card card-body">
					<div class="row">
						<% Zone.all.each do |c| %>
							<div class="col-md-4">
								<%= check_box_tag("zone_ids[]", c.id, false) %>
								<%= c.title%>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class="container mt-4">
			<%= file_field_tag :files,name:"files[]", multiple: true, id: :"document", class: 'toggleclass'%>
			<span class="table">Documents du projet : </span><span class="btn btn-secondary" id="simulateur">Choisir</span>
		</div>
		<div class="container mt-4">
			<p><span class="table">Site web :</span><input type="text" name="site" class="form-control" placeholder="votre lien"></p>
		</div>
		<div class="container mt-4">
			<label for="comment" class="table">Commentaire :</label>
			<textarea name="comment" class="form-control p-2"  rows="5" placeholder="Commentaire qui s'adresse à l'administrateur"></textarea>
			
		</div>
		<div class="container mt-4">
			<%= submit_tag :Enregistrer, :name => "creer", :value => "Enregistrer", :class => "btn btn-secondary", :onclick => "validCheck()"%>
			<%= submit_tag :Publier, :name => "creer", :value => "Publier", :class => "sc-eerKOB cfnPHQ", :onclick => "validCheck()"%>
		</div>
	</div>
<% end %>
<%= render partial: "/admin/projets/script.html.erb"%>