<div class="row">
		  <div class="col-sm-6">
		    <div class="card">
		      <div class="card-body">

		        <h5 class="card-title"><%= @projet.nom_du_projet %></h5>
		        <%if @projet.logo.attached?%>
				    	<%= image_tag @projet.logo, alt: 'logo', class:"card-img-top"%>
				<%else%>
						<img class="card-img-top" width="100px" height="300px" src="" alt="Card image cap">
				<%end%>
				<h4>pdf</h4>
				<%if @projet.files.attached?%>
					<%@projet.files.each do|file|%>	
					PDF: <%= link_to file.name, rails_blob_path(file, disposition: "attachement") %>
					<%end%>
				<%else%>
						<img src="#">
				<%end%>
		        <p class="card-text"><%=raw @projet.objectif_generale_du_projet %></p>
		        <% @projet.secteurprojets.each do |s|%>
		        	<p><%= s.secteur.title%></p>
		        <%end%>
		        <% @projet.filiereprojets.each do |f|%>
		        	<p><%= f.filiere.title%></p>
		        <%end%>
		        <% @projet.zoneprojets.each do |z|%>
		        	<p><%= z.zone.title%></p>
		        <%end%>
		         <%=raw @projet.aspsp%>
		        <p><%= @projet.forme_d_appui%></p>
		        <p><%= @projet.debut_du_projet%></p>
		        <p><%= @projet.fin%></p>
		        <p><%= @projet.apdem%></p>
		        <p><%= @projet.appui.title%></p>
		        <p><%= @projet.montant%></p>
		        <p><%= @projet.ptf.title%></p>
		      </div>
		    </div>
		  </div>

</div>