<div class="container sans-head">
		<%if @messages.count == 0 %>
			<div class="text-center text-muted mt-1 mb-4">
				<p> Aucun message reçu </p>
			</div>
		<%else%>	
	<div class="mb-4 text-center">
		<h3 class="tablePrint">Toutes les messages</h3>
	</div>
	<div>
		<%@messages.order(created_at: :desc).each do |m|%>
			<%if m.read == nil%>
		<div class="row align-items-center no-gutters bg-message pt-2 pb-2 pl-2 border-bottom">
					<div class="unread col-9">
				       <p class="">
							<%if m.sender%>
							<span>E-mail : <a href="https://<%= m.sender.email%>" target="_blank" class="tablePrint font-weight-bolder" id="user"><%= m.sender.email%></a></span>
							<div>
								<div>Nom : <%= m.sender.first_name%></div>
								<div>Prénoms : <%= m.sender.last_name%></div>
								<div>Téléphone : <%= m.sender.phone%></div>
								<div>Fonction : <%= m.fonction%></div>
							</div>
							<%else%>
								<span>E-mail : <a href="https://<%= m.email%>" target="_blank" class="tablePrint font-weight-bolder" id="user"><%= m.email%></a></span>
								<div>
									<div>Nom : <%= m.first_name%></div>
									<div>Prénoms : <%= m.last_name%></div>
									<div>Téléphone : <%= m.phone%></div>
									<div>Fonction : <%= m.fonction%></div>
								</div>
							<%end%>				      
				       <p class="text-muted pt-1 pb-1 my-2">Message : <%= m.content%> </p>	
				       </p>	
					</div>
			<%else%>
		<div class="row align-items-center no-gutters pt-2 pb-2 pl-2 border-bottom">
					<div class="col-9">
				       <p>
							<%if m.sender%>
							<span>E-mail : <a href="https://<%= m.sender.email%>" target="_blank" class="tablePrint"><%= m.sender.email%></a></span>
							<div>
								<div>Nom : <%= m.sender.first_name%></div>
								<div>Prénoms : <%= m.sender.last_name%></div>
								<div>Téléphone : <%= m.sender.phone%></div>
								<div>Fonction : <%= m.fonction%></div>
							</div>
							<%else%>
								<a href="https://<%= m.email%>" target="_blank" class="tablePrint"><%= m.email%></a>
								<div>
									<div>Nom : <%= m.first_name%></div>
									<div>Prénoms : <%= m.last_name%></div>
									<div>Téléphone : <%= m.phone%></div>
									<div>Fonction : <%= m.fonction%></div>
								</div>
							<%end%>				      
				       <p class="text-muted pt-1 pb-1 my-2">Message : <%= m.content%> </p>	
					</div>
			<%end%>
				<div class="col-3 text-right pr-2">
					<%= form_for m, url: super_admin_contact_path(m.id), method: :put do |f| %>
						<%if m.read == nil%>
							<p> <input type="submit" name="read" value="Marquer comme lu" class="tablePrint btn-right" id="mark-as-read"></p>
						<%else%>
							<p><input type="submit" name="read" value="Marquer comme non lu" class="tablePrint btn-right" id="document"></p>
						<%end%>
					<%end%>	
					 <a href="<%= super_admin_contact_path(m.id)%>" class="btn btn-danger"  data-method="delete" data-confirm="Voulez-vous supprimer ce message ?"> Supprimer</a>
				</div>
					<p>Envoyé le <%= m.created_at%></p>
			</div>
		<%end%>
		<div class="mt-4 mb-2">
			<%= paginate @messages %>
		</div>
	</div>
	<%end%>
</div>
<%= render partial: "/super_admin/confirm.html.erb"%>