<div class="container sans-head">
	<div class="mb-4 text-center">
		<h3 style="color: dark">Toutes les messages</h3>
	</div>
	<div class="row">
		<%@messages.order(created_at: :desc).each do |m|%>
		  <div class="col-sm-6">
		    <div class="card">
		      <div class="card-body">
		       <label>Message :</label>
				<%= m.content%> 
				<%if m.read == nil%>
					<span class="badge badge-danger">Non lu</span>
				<%else%>
					<span class="badge badge-success">Lu</span>
				<%end%>
				<p>Envoyé le <%= m.created_at%> par 
					<%if m.sender%>
						<a href="https://<%= m.sender.email%>" style="color: #52c39b;" target="_blank"><%= m.sender.email%></a>
					<%else%>
						<a href="https://<%= m.email%>" style="color: #52c39b;" target="_blank"><%= m.email%></a>
					<%end%>
				</p>
					<%= form_for m, url: super_admin_contact_path(m.id), method: :put do |f| %>
					<%if m.read == nil%>
					<p> <input type="submit" name="read" value="Marquer comme lu" class="btn btn-success"></p>
					<%else%>
					<p> <input type="submit" name="read" value="Marquer comme non lu" class="btn btn-danger"></p>
					<%end%>
					<%end%>
		      </div>
		    </div>
		  </div>
		<%end%>
	</div>
</div>