<!-- 
 <tr>
	      <th scope="col">Id</th>
	      <th scope="col">Email</th>
	
	    </tr>
	  </thead>
	  <tbody>
	      <% @users.each #do |user|%>
	    <tr>
	      <th scope="row"><%=user.id%></th>
	      <td><%=user.email%></td>
	    </tr>
	      <%#end%>
	  </tbody>
</table>
</div>
<div class="container">
<table class="table table-bordered table-dark">
	<h2>Listes des bailleurs en attente</h2>
	  <thead>
	    <tr>
	      <th scope="col">Id</th>
	      <th scope="col">Email</th>
	      <th scope="col">Action</th>
	    </tr>
	  </thead>
	  <tbody>
	      <% @users.each #do |user|%>
	    <tr>
	      <th scope="row"><%=user.id%></th>
	      <td><%=user.email%></td>
	      <td><a href="/admin/users/<%=user.id%>" data-method="put" class="btn btn-success">Valider</a></td>
	    </tr>
	    <a href="/admin/users/<%=user.id%>" data-method="delete" class="btn btn-danger btn-sm">Refuser</a></td>
	      <%#end%> -->