<%= form_tag(projets_path, :method => "get",   
    class: 'navbar-form navbar-left') do %>  
  <div class="input-group">  
    <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
    <div class="input-group-btn">  
      <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
    </div>  
  </div>  
<% end %>

<div class="sc-11unfkk-2 fxFQyp">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item mx-auto active">
        <%= image_tag "ifc.jpg", class:"d-block", width:'100%'%>
      </div>
      <div class="carousel-item">
        <%= image_tag "afd.jpg", class:"d-block mx-auto", width:'100%'%>
      </div>
      <div class="carousel-item">
        <%= image_tag "cnuced.jpg", class:"d-block mx-auto", width:'100%'%>
      </div>
      <div class="carousel-item">
        <%= image_tag "giz.jpg", class:"d-block mx-auto", width:'50%'%>
      </div>
      <div class="carousel-item">
        <%= image_tag "footer.svg", class:"d-block mx-auto", width:'100%'%>
      </div>
      <div class="carousel-item">
        <%= image_tag "helvetas.png", class:"d-block mx-auto", width:'100%'%>
      </div>
      <div class="carousel-item">
        <%= image_tag "jica.png", class:"d-block mx-auto", width:'100%'%>
      </div>
      <div class="carousel-item">
        <%= image_tag "imf.png", class:"d-block mx-auto", width:'100%'%>
      </div>
      <div class="carousel-item">
        <%= image_tag "onudi.jpg", class:"d-block mx-auto", width:'100%'%>
      </div>
      <div class="carousel-item">
        <%= image_tag "pnud.jpg", class:"d-block mx-auto", width:'100%'%>
      </div>
      <div class="carousel-item">
        <%= image_tag "ue.jpg", class:"d-block mx-auto", width:'100%'%>
      </div>
      <div class="carousel-item">
        <%= image_tag "unicef.jpg", class:"d-block mx-auto", width:'100%'%>
      </div>
      <div class="carousel-item">
        <%= image_tag "USAID.png", class:"d-block mx-auto", width:'100%'%>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<footer class="bt96d2-0 foCkmu">
  <div class="sc-11unfkk-2 fxFQyp">
    <div class="bt96d2-1 row knxWdP">
      <div class="bt96d2-2 cNrxHZ cust p-2 pt-4 col-md-4 bg-white rounded">
        <div class="wbg-w mx-auto">
          <a class="bt96d2-3" href="#">
            <%= image_tag "wbg.jpg"%>
          </a>
        </div>
        <div class="footer-img">
          <a class="bt96d2-3 bGIZa" href="#">
            <%= image_tag "mica.jpg"%>
          </a>
          <a class="bt96d2-3 bGIZa" href="#">
            <%= image_tag "imf.png"%>
          </a>
        </div>
      </div>
      <div class="bt96d2-2 cNrxHZ col-md-8 pt-3 pb-3">
        <h4 class="bt96d2-6 bGYjCP">
          <span id="apropos">A propos</span>
        </h4>
        <div class="bt96d2-7 fephAd">
          <p class="bt96d2-8 ghoRQb text-white">
            <span>
              Cette plateforme Multi-Bailleurs est destiné au Secteur Privé, à la Finance et à l’Industrie Extractive.
              Elle veille à la mise en œuvre des principes de l’efficacité de l’aide dans les secteurs concernés. 
              Elle a pour objectif de créer un environnement propice au développement du secteur privé, de la finance et de 
              l’industrie extractive grâce à une coordination et une cohérence accrue des interventions entre les partenaires 
              techniques et financiers, ainsi que les acteurs des secteurs public et privé.
            </span>
          </p>
          <p class="bt96d2-8 ghoRQb text-white">
            <span>
              La présidence est assurée conjointement par le Secrétariat Général du Ministère de l’Industrie, du Commerce et de l’Artisanat et 
              l’équipe Secteur Privé de la Banque Mondiale.
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>