<footer class="bt96d2-0 foCkmu pt-2 pb-3 mt-4">
  <div class="sc-11unfkk-2 fxFQyp">
    <div class="bt96d2-1 row align-items-start">
      <div class="bt96d2-2 cNrxHZ cust p-2 col-12 col-md-4 bg-white rounded">
        <div class="wbg-w mx-auto">
          <a class="bt96d2-3" href="https://www.worldbank.org/" target="_blank">
            <%= image_tag "/wbg.jpg"%>
          </a>
        </div>
        <div class="footer-img">
          <a class="bt96d2-3 bGIZa" href="https://www.mica.gov.mg/" target="_blank">
            <%= image_tag "/mica.jpg"%>
          </a>
        </div>
      </div>
      <div class="bt96d2-2 cNrxHZ col-12 col-md-8 pt-2 pb-3">
        <h4 class="bt96d2-6 bGYjCP">
          <span id="apropos">À propos</span>
        </h4>
        <div class="mt-2 bt96d2-7">
          <p class="bt96d2-8 ghoRQb text-ligth text-justify">
            <span>
                La Plateforme Multi-Bailleurs pour le Secteur Privé et l’Industrialisation est chargée, à un niveau technique, de la coordination des projets relatifs a l’industrialisation, a l’environnement des affaires et au développement du secteur privé.... <a href="/apropos" >Voir plus</a>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<section>
  <div class="bg-white">
    <div class="d-flex align-items-center justify-content-around mb-4 b-footer wrapping-footer">
      <%Ptf.all.order(:title).each do |p|%>
        <div class="b-footer-center mx-2">
          <a href="https://<%= p.lien.remove('https://')%>" target="_blank"><img src="<%= p.image_url%>" class="image-c<%=p.id%>" alt=""></a>
        </div>
      <%end%>
    </div>
  </div>
</section> 