<!DOCTYPE html>
<html>
  <head>
    <title>Worldbank</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'users' %>

    <!-- bootsrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/48ba21fe93.js"></script>

    <script src="https://cdn.tiny.cloud/1//tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

  </head>

  <style type="text/css">
    .navbar {
      position:relative;
      }
      .alert {
      position:absolute;
      top:64px;
      right:0;
      z-index:999;

      } 
  </style>
    
  <body class="body" id="body" onload="Refresh()">
    <% unless flash.empty? %>
      <% flash.each do |message_type, message| %>
        <div class="alert flash-left alert-info alert-dismissible btn btn-default text-wrap">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%=message%>    
        </div>
      <% end %>
    <%end%>
    <% if current_user%>
      <% if current_user.is_admin == true%>
        <%= render "layouts/nav_admin.html.erb" %>
          <%= yield %>
      <%elsif current_user.is_super_admin == true%>
        <%= render "layouts/nav_super_admin.html.erb" %>
          <%= yield %>
      <%else%>
        <%= render "layouts/navbar.html.erb" %>
          <%= yield %>
      <%end%>
    <%else%>
       <%= render "layouts/navbar.html.erb" %>
          <%= yield %>
    <%end%>

  </body>

<script type="text/javascript" src="js/main.js"></script>
<script>
  
  var ed = tinymce.init({
                selector: 'textarea.editor',
                plugins: 'lists link wordcount',
                toolbar: 'bold italic | link code | aligncenter alignright alignjustify  | numlist bullist outdent indent ',
                menubar: false,
                language : 'fr_FR',
                setup: function (ed) {
                    ed.on("keyUp", function () {
                        // var counts = parseInt($(".tox-statusbar__wordcount").text().replace("Words:",""))
                        var editor1 = tinymce.get('comment_body');
                        var counts = editor1.plugins.wordcount.getCount();

                        var editor2 = tinymce.get('aspsp');
                        var counts2 = editor2.plugins.wordcount.getCount();
                        var wordmaxLeft = 150;
                        var wordmaxLeft2 = 750;

                        var wordsLeft = wordmaxLeft - counts;
                        var wordsLeft2 = wordmaxLeft2 - counts2;
                        if(wordsLeft == 0 || wordsLeft == 1){
                          $('.words-left').html(wordsLeft+ ' mot restant');
                        }else{
                          $('.words-left').html(wordsLeft+ ' mots restants');

                        }if(wordsLeft2 == 0 || wordsLeft2 == 1){
                          $('.words-left2').html(wordsLeft2+ ' mot restant');
                        }else{
                          $('.words-left2').html(wordsLeft2+ ' mots restants');
                        }

                          if(wordsLeft <=  0) {
                              $('.words-left').css({
                                'background':'red'
                              }).prepend('<i class="fa fa-exclamation-triangle"></i>');
                            }else{
                              $('.words-left').css({
                                'background':'transparent'
                              }) 
                            }
                          if(wordsLeft2 <= 0) {
                              $('.words-left2').css({
                                'background':'red'
                              }).prepend('<i class="fa fa-exclamation-triangle"></i>');
                          }else{
                              $('.words-left2').css({
                                'background':'transparent'
                              }) 
                          }
                    });
                }
            });


</script>
</html>

